[2014-07-04 05:35] melker opened #1 "Set up versions in github"

[2014-07-04 07:45] melker commented on #1
Inlagda

[2014-07-04 07:45] #1 closed, assigned to melker

[2014-07-04 07:58] melker opened #2 "Ikoner för flikar"

[2014-07-04 08:03] melker opened #3 "Ikoner för fontäner"

[2014-07-04 08:05] melker opened #4 "Worker transformer i ny tappning"
Filip:
Man förvandlar workers bara från sin grundfärg till en annan färg, inte mellan andra färger.

Kostnaden för att bygga en worker transformer är:
(10 + 2 \* totala antalet levels av transformers) i grundfärgen + (10 + 2 \* antalet levels i den transformern) i transformerns färg.
Möjligt att det ska vara 20 + 3 (4?) \* i de färger som är mest avlägsna från ens grundfärg.

Vad tror du?

---

[c

[2014-07-04 08:07] melker opened #5 "Klicka på worker i raden under kartan - vad händer då?"
Filip:
När man klickar på en free worker summary i listen neders så markers alla fontäner där man kan placera workers av den färgen i stället för att dra upp "val av workers" dialogen. Mer logiskt att välja worker först när man valt en fontän, och man kan då begränsa valen till de workers som är applicerbara i stället för att välja worker och sedan upptäcka att man inte kan placera den där man vil

[2014-07-04 08:08] melker opened #6 "Sätta kostnader"
Vi behöver sätta oss och bestämma kostnader för allt. Just nu är det mycket som hänger i luften; mina förslag:

Bygga Workers (resettar per tidsenhet):
10\* (workers built - 1) av egen färg
4 \* (workers built - 2) av angränsande färger
2 \* (workers built - 3) av resterande färger

Uppgradera Worker factory:
Uppgradering av workers (lvl 1 vid start av spelet, anger högsta uppgradering av workers)

[2014-07-04 08:40] melker opened #7 "Teams"
Funderar lite på teams

1.När man är med i ett lag, hur ska poängen räknas?

A Hela lagets poäng i area/bigarea/world summeras och laget få EN bonus på det. Dvs man summerar ihop dem bara precis som om hela laget vore en spelare.

B De summeras individuellt och även bonus individuellt för area/bigarea/world, sedan summeras laget ihop.

För/nackdelar:

A blir begripligt att presentera i poänglistan

[2014-07-04 08:45] melker commented on #5
Räcker det inte bara med att den listar vilka man har och deras egenskaper. (Den listar de man har i den färgen). Kanske bara "flashar" upp dem och automatiskt stänger. Eller bara visar så länge man trycker på bilden och stänger när man släpper?

[2014-07-04 08:51] melker commented on #3
Tjo!
Jag har nu experimenterat med "ground overlay" för fountain/workers.
Det kan blir bra.

Alla bilder: Jämna 2-potenser i bredd/höjd.

Fontäner:
Jag kan fritt rotera samma bild och ordna varianter på det sättet så du ska inte göra "bara roterade" varianter, bara unika. (Då tar spelet dessutom mindre plats)

Workers:
Bilden som ska användas på kartan ska innehålla ledningen.
Mitten av vänsterkan

[2014-07-04 09:04] melker opened #8 "Spara statistik för medaljer"
Ideer om saker att spara statistik för:
- Antal producerade workers
- Mängd hemtankad färg
- Vilka fontäner man laddat från (unika)
- Antal producerade scorers/portaler
- Mängd spilld färg
- Längd färdväg. Hur långt man har färdats mellan alla fontäner.
- Antal workers man använt för att skapa delar till scorers. Vilka och hur många delar man hittat.
- Vilka delar man använt till scorers.
- Hur my

[2014-07-04 09:04] melker commented on #8
Viss statistik sparas redan nu. T.ex. producera workers. Jag behöver kolla vilka som är fixade.

[2014-07-04 09:12] melker opened #9 "Grafik för byggnader och deras uppgraderingar"
Man bör kunna se vad det är man har byggt i klienten, inte bara level på en byggnad utan även vad exakt den uppgraderar (t.ex. range, speed etc.). Behövs det grafik?

Ja.

[2014-07-04 09:19] melker opened #10 "Begränsa hur många delar man kan ha i en scorer + extension"
Sätt en standardgräns på 6 saker. (dvs minimum för det som krävs för att få ihop en scorer)

Inför en ny typ av scorerpart, "rack extension" som gör att den gränsen ökas med minst 3. (den tar ju en själv och det ska öka). Det kan finnas olika stora extensions

[2014-07-04 09:23] melker opened #11 "Skapa grupper/alias för att skicka meddelanden till flera användare samtidigt"
Dvs i helt och hållet i klienten för att undelätta att skicka till de man brukar skicka till.

Borde även ha #all eller något sådant när man vill skicka till alla man har kontakt med.

[2014-07-04 09:25] melker opened #12 "Något att skryta om"
Något som andra spelare märker. Kanske även som kan visas för andra utanför spelet.

Jag saknar ett moment av att göra något mer permanent i spelet. Något som andra ser... som man kan skryta om...

[2014-07-04 10:59] melker opened #13 "Extra features on transmitters"
Ideer för framtida tillgä till scorers:

Saker som påverkar poängen
- bättre färgmixare. Kan utnyttja ojämnheter i färger. Inte bara minsta mängden av en viss färg.
- någon form av slump som påverkar poängen. Kan påverkas av tillägg.

Saker att bygga av:
- "armor": hur motståndskraftig scorern är mot att förstöras...

Exotics/rares att bygga av:
- multi-color behållare: håller flera färger (dvs me

[2014-07-04 11:01] melker opened #14 "Indelning i stora ytor, alternativa sätt"
Ide: I stället för band över världen.

Dela in världen med en dodekaeder med geocentriska linjer. (Platt vid varje pol)
Centerpunkten i varje mindre yta avgör i vilken större ruta den är.

Ikosaeder är inte lika bra för det kan bli 5 närliggande ytor i vaje skärningspunkt. (3 med dodekaedter)

[2014-07-04 11:06] melker opened #15 "Format i meddelandelistan (tidsstämpel/placering)"
Ändra timestamp så att den:
1. kommer först i meddelandet
2. Om den har kommit efter kl.24 föregående dag (dvs under perioden 00:00 till 23:59) så visa det som: HH:MM (9:53 - Text, alternativt 13:32 - Text)
3. Om det kom tidigare så visa tidsstämpel som Månad-Dag, (Jun 15 - Text)
4. Om det kommer från någon (person/grupp) så sätt namnet först (Erik 13:32 - Text).

Not tid/datum är fixat men inte p

[2014-07-04 11:13] melker commented on #7
Klipper från sourceforge:
- Bilda lag med andra spelare i andra färger. Beräkna ihop poängen.
- En spelare startar laget och döper det. Fler kan ansluta och blir då likvärdiga medlemmar.
- Ingen kan uteslutas såvida inte en spelare varit inaktiv under tidsperiod X och alla övriga i laget är eniga.
- Man kan själv gå ur ett lag.
- När man är med i ett lag så är det laget som får alla poäng. (Dvs lä

[2014-07-04 11:16] melker opened #16 "Kryptering av "känslig" data"
- För att undvika uppenbart fusk, kryptera data innan den går ut på nätverk så det inte är uppenbart att läsa av trafiken och hitta på egna anrop.
- Envägskryptering av lösenord.

[2014-07-04 11:21] melker opened #17 "Modulate worker. Skicka vad den ska bli"
För att undvika dubbeltransformering vid nätverksproblem. Speca vad den ska bli i stället för att den ska upp/ner i färg.

[2014-07-04 11:22] melker opened #18 "Trådsäkring av updateprocessen på serversidan"
Flertrådssäkring av updateprocessen på server… bara en tråd i taget som ska göra en update-process. Alt att den är så stabil att det inte kan blir ett problem.

[2014-07-04 11:23] melker opened #19 "Gå igenom alla TODO/XXX i koden, serversidan"

[2014-07-04 11:24] melker opened #20 "Gå igenom alla TODO/XXX i koden, klientsidan"

[2014-07-04 11:26] melker opened #21 "Sätta upp en till miljö på serversidan, att utveckla och köra min miljö mot"
Så det inte ska drabba testarna.

[2014-07-04 11:28] melker opened #22 "Optimerat utseende för platta också (stor skärm)"
Fundering på hur man bäst utnyttjar en stor skärm?

[2014-07-04 11:30] melker opened #23 "Använda världskarta vatten/land som påverkar"
T.ex. så är det bara vissa färger i vatten, eller inte lika tätt... eller något.

[2014-07-04 11:38] melker opened #24 "Handle other players transmitters"
- skicka/ta emot scorer. Byggnad för detta
- Kunna hantera informationen i db
- Sätta lämpliga värden i db
- Skicka info till klient
- Ta emot och visa info i klient. Utseende på annan spelares scorer?
- Nya actions - Skicka till annan spelare / Ta hem från annan spelare
- Begränsa vad man kan göra med scorers hos andra (kalla hem) och andras (bara kunna placera ut eller lämna till annan spelare)

[2014-07-04 11:40] melker opened #25 "Presentera bara en del av storyn i taget"
alla "flikar" blir inte tillgängliga med en gång.
- ditt rymdskepp bla bla. Börja samla färg.
- När man samlat lite. "Dina forskare har upptäckt att NN kan användas för att omvandla saker. Workers kan skickas in och då får man andra saker tillbaka."
- Du gör scorers.
- När du placerat ut din första scorer. Topplistor.
- Sedan kan man kanske hitta på något mer om man ligger på topp så kan man få me

[2014-07-04 11:44] melker opened #26 "Story för hela spelet"
Som kan visas i beskrivning och efterhand i spelet.

Se även #25

[2014-07-04 11:46] melker commented on #26
Filip:

En grov skiss kan man fixa hyffsat snabbt, men det blir inget kul att läsa. Ska man ha en story så ska den vara bra, annars kan den få folk att stänga av innan man börjar spela.

Men det finns massor med spel som helt saknar story och ändå funkar.

[2014-07-04 11:48] melker opened #27 ""missbruk" av bygga portaler"
Eftersom det är gratis att bygga portaler så kan man helt enkelt missbruka det till att öka på sin egen range. Man river en portal och placerar ut den på gränsen av sin range, där man står. Använd den för utplacering och sedan kan man köra vidare.

Alternativa tankar för att komma runt det:
- En mindre kostnad för utplacering
- Man kan inte riva portaler utan de lever hela sin livslängd där de är

[2014-07-04 11:52] melker opened #28 "Visa "grundfärg" på fontäner i areor när man är lite mer utzoomad ("moln")"
Visa något i den färgen som det är mest av i en yta när man är så utzoomad så den inte visar portaler.
- Lämplig bild att lägga över (lite "dimma") alternativt en Polygon - Shape över kartan som är mest genomskinlig. Kartan blir dock lätt "rutig".
- Olika bilder på olika zoom-levels?

Alternativt strunta i det.

[2014-07-04 11:54] melker opened #29 "Visa alla actions i dialoger, men inaktivera de man inte kan göra (än/nu)"
Visa alla actions i dialoger, men inaktivera de man inte kan göra (än/nu)

Är det verkligen relevant? Enklast är ju att bara inte visa dem.

[2014-07-04 11:56] melker opened #30 "Bonus when transforming multiple workers to transmitter parts, in a short time?"
Bonus när man omvandlar flera workers direkt efter varandra till scorer parts

Kan skötas på servern helt om vi vill.

Implementation:
Ha en "laddning" och tidsstämpel
Innan man omv så sänks den med tiden som gått sedan senaste. (nollställs helt på ung 5 minuter?)
Den ökar med ett fixt värde när man omvandlar något.
Dess maxvärde nås när man omvnadlat flera (3?) workers direkt efter varandra.

Lad

[2014-07-04 11:59] melker opened #31 "Sätta inställningar, kostnader etc från servern"
Filip:
Ska ta fram lista på vilka numeriska egenskaper han vill kunna justera
Erik:
Läsa in denna i app och serverkod och använda siffrorna

Alt. så struntar vi i denna och distibuerar en ny version av appen när något ska justeras. Går ju ganska enkelt.

[2014-07-04 12:00] melker commented on #31
Not: Admingränssnitt finns redan för att lagra numeriska inställningar. De kommer dock varken till app eller serverkod just nu.

[2014-07-05 04:00] melker opened #32 "Visa vad man får vid en worker->scorerpart transform med bilder"
Gör en gridview i dialogen och visa upp vad man får med bilder.
2 x [2], 1 x [1] etc

[2014-07-05 09:20] melker opened #33 "Dela upp appkoden i paket"

[2014-07-05 16:19] #33 closed, assigned to melker

[2014-07-05 17:13] melker opened #34 "Egna färgen på markeringen och bara EN markering på där man är."
Det är i alla fall min åsikt.

[2014-07-05 18:34] melker opened #35 "Utnyttja inte hela rutan för fontänplacering för att få avstånd"
I algoritmen som placerar fontäner:
Lämna en rand på sidan och en uppe eller nere för att fontänen inte ska hamna extremt nära varandra vilket är jobbigt när man ska klicka.

[2014-07-05 18:37] melker opened #36 "Visa kanterna för score-areas även när man är lite mer utzoomad"

[2014-07-05 18:38] melker opened #37 "Animationer i dialoger/worker på karta"
Lite tester gjorda med dialoger.

[2014-07-05 18:40] melker opened #38 "Något riktigt dyrt att samla till...."
Kanske räcker med att vissa saker blir väldigt mycket dyrare på nästa nivå eller så kanske det ska kombineras med #12 skrytsak?

[2014-07-05 18:41] melker commented on #38
Worker->scorer-part uppgradering som ger lite bättre utdelning skulle kunna vara väldigt dyr.

[2014-07-06 20:13] melker commented on #7
Filip:
Vad tror du om detta: När någon i laget scorar så scorar alla andra i laget en viss procent av den poängen i samma area (och då bigarea/world också). Så vi hanterar inte lagen som entities, bara som bonusar till spelare (och talar om att de har fått en "team bonus" i deras meddelanderuta).

[2014-07-06 20:18] melker commented on #7
Skulle kunna funka med lite tankearbete:
Om spelare X1 skickar en scorer i en ruta så:
Får X1 lite poäng medan lagmedlemmar X2 och X3 få, säg 10% av det i den rutan. Ska de då få bonus för sin extra poäng... ? Ska X1 få mer bonus för att X2 och X3 har poäng men lägre i den rutan?
Laget kommer då bara "synas" för lagmedlemmarna själva.  Det blir individuellt spel fortfarande, men man "slipper" hjäl

[2014-07-06 20:55] melker commented on #7
Man får ingen motivation att ställa ut andra i sitts lags spelare om de räknas som en spelare heller å andra sidan...

[2014-07-07 06:56] filwi commented on #7
Vad sägs om att lösa det på andra sätt? T.ex. att man har en "gemensam" parts byggnad så att om någon skickar in något i den så finns det en liten chans att man själv får ut något av det?

[2014-07-07 06:56] filwi commented on #7
Fast vi kanske ska ta ett steg tillbaka: vad vill vi få ut av teams?
1. Social interaktion - att man kan dra med sig andra i sitt lag och hjälpa dem etc.
2. Annat?

[2014-07-07 07:00] melker commented on #7
Precis: Det är samarbete och social interaktion. Man vill kanske diskutera/synronisera.
Fast det vill vi ju även utanför lag, men där har vi utbyte av scorers (som ger bättre poäng för alla inblandade) som motivation.

Behövs lag?

Lag kan påverka annan del av spelet, insamling och omvandlning till scorer parts.... jag att bygga något tillsammans kan vara en sak. Man kanske måste "bygga" ihop lage

[2014-07-07 07:04] filwi commented on #7
Vad sägs om detta: man får automatiskt sitt lags namn innan sitt eget så: [Lag1] filwi
Det kommer att ge en motivation till folk att visa upp sitt lag. Men frågan är då om begränsningen av att man kan bara ha 1 av varje färg i laget är så smart - får att få skryträttigheter behöver man ha stora lag som är kända världen över.

Man skulle även kunna göra en separat scoringlista för lag. Funkar exakt

[2014-07-07 07:14] melker commented on #7
Gillar idęn m allianser och namnet brevid.

[2014-07-07 07:21] melker commented on #7
... och sep lista för scoring.

[2014-07-07 08:09] melker commented on #7
Påståenden:
- Att grunda en allians kostar.... 1000 av egna färgen.
- för att gå med i en allians krävs en inbjudan alt. Godkännande av EN befintlig medlem. Man måsre ha kontakt med mågon i alliansen. Inga spärrar för färg.
- när man är med kan man skicka meddelande till alla i alliansen (går man ur så är det bara de man faktiskt själv fixat kontakt med.

[2014-07-07 08:11] melker commented on #7
Grundaren av alliansen behåller kpntroll av den. Dvs kan kicka folk och döpa om den.

[2014-07-07 08:14] melker opened #39 "Krash mär jag lklickar på msg. Fick ett fr fw."

[2014-07-07 08:15] filwi commented on #7
Och att man kan dela kontroll, dvs att man kan ge vissa "allians-admin" rättigheter till andra, upphöja dem i status etc.

Ska man ha vissa nivåer i allianser? Typ fasta nivåer som vi namnger som har vissa behörigheter etc.? Fast det kanske kan växa fram allteftersom vi testar.

[2014-07-07 08:19] filwi opened #40 "Problem med containers"
Jag kom på varifrån alla våra problem med att bygga dyra saker etc. kommer: containers. Just nu är containers det enda man bygger. När man väl fått ihop en viss nivå på container så är det trivialt att fixa allting annat - containers är så mycket dyrare och går så mycket långsammare att bygga.

Det är inte rätt. Vi borde ha fiero-moments när man bygger något coolt i sin bas, inte en behållare.

[2014-07-07 20:43] melker commented on #39
fixat i min version. kommer.

[2014-07-07 20:43] #39 closed, assigned to melker

[2014-07-10 03:56] melker commented on #7
Man kan nu skapa ett team (om man har 1000)

[2014-07-10 15:07] melker opened #41 "Byt på klick/longclick på fontän"

[2014-07-10 17:24] melker commented on #4
Medhåll av FW för att den styr antal per färg.

[2014-07-10 17:28] melker opened #42 "Släpp mänden färg fri"
Dvs obegränsade behållare.

Grafiskt: visa färg och siffra. Prop bredd jmf andra färger? Funkar inte m färger.

[2014-07-10 20:19] melker commented on #7
Team scores visas i listorna

[2014-07-10 20:29] melker commented on #41
Kommer i 0.4.58

[2014-07-10 20:29] #41 closed, assigned to melker

[2014-07-10 20:51] melker commented on #35
Fixat.

[2014-07-10 20:51] #35 closed, assigned to melker

[2014-07-11 20:01] melker opened #43 "Optimera prestanda vid inloggning"
Det tar just nu lång tid att logga in.

Vid kontroll så:
Det är att ladda hela meddelandehistoriken vid inloggning som tar 4-5 sekunder just nu, och den ökar efterhand. Om man däremot filtrerar på de som var senaste tiden så handlar det om tiondelar i stället. Dvs lagra historiken i enheten och ladda bara senaste tiden alternativt ladda bara senaste dygnet/n och gör sedan extra förfrågan om person

[2014-07-11 20:09] melker commented on #43
Jag hittade vilken kolumn som skulle få ett index, och så är man nere på en millisekund, som det ska vara, i stället. :-)

Det får bli ett senare problem att historiken växer och att man bara bör ladda senaste tidenheten,

Flyttar detta ärende till en milestone längre fram.

(joinen med cp_message_to blev inte på en indexerad kolumn, nu är den det)

[2014-07-11 20:34] melker commented on #42
Nu har jag på servern gjort så mängden färg man kan lagra är fri. Dvs inget maxtak. Inget spill.

Hur det ska se ut i klienten är lite oklart dock:
-  Bara skriva ut den siffra på den färgens bakgrund eller med ram i den färgen?
- Ha "relativa" staplar. Den man har mest av är full medan övriga är relativt den storleken?
- Staplar relativa till det högsta värde man haft på en färg?

[2014-07-12 18:54] melker commented on #4
Nästan fixat. Kommer i 0.4.59

[2014-07-13 03:49] melker commented on #4
Fixat i och med 0.4.60.
OBS kostnaden ej satt.

[2014-07-13 03:49] #4 closed, assigned to melker

[2014-07-13 20:23] melker commented on #7
Går nu att bjuda in till ett lag. (Men inte svara än :-)

[2014-07-15 14:34] melker opened #44 "Visa version i about-dialogen"

[2014-07-15 18:31] melker commented on #7
Går att svara, både ja och nej, och man kan lämna ett lag.

[2014-07-15 18:32] melker commented on #44
Fixat i 0.4.63 (som jag skickade upp nu)

[2014-07-15 18:32] #44 closed, assigned to melker

[2014-07-15 19:34] melker commented on #42
Nu har jag gjort så den gör staplar relativt 100, och att den skriver ut mängden och den mängd som finns i workers, dvs hur mycket man kan dra hem nu om man vill.

[2014-07-15 19:34] #42 closed, assigned to nobody

[2014-07-15 19:44] melker commented on #7
Jag har fått igång funktionerna för laghantering. Det som behövs härnäst enligt mig är lite design...

Status i lag känns som ett senare problem.

Jag funderar på om 1000 är för lite. Jag kan dra ihop det på ett par dagar. (har just nu 30 röda workers som i snitt drar ihop 10 per worker)

[2014-07-15 21:10] melker commented on #6
Har mixtrat med byggnaders kostnad, för bygge och uppgradering, på serversian:
Har just nu satt uppgraderingskostnader till: (utgår från befintlig level)
10_e^(level) i byggnadens färg
4_e^(level-1) i närliggande
1*e^(level-2) i övriga färger
Om byggnaden inte har färg så använd spelarens färg.

Detta gör att det sticker iväg i pris efter några nivåer...

[2014-07-17 05:46] melker opened #45 "Transformera worker mellan färger."
Appen verkar kolla om d finns en worker transformer mellan färger. Jag får inte upp de alternativ kag borde på idle workers.

[2014-07-19 05:41] melker commented on #34
Nu är det egna färgen och det är bara min markering, inte den automatiska.

[2014-07-19 05:41] #34 closed, assigned to nobody

[2014-07-19 05:46] melker commented on #45
Kunde inte transformera till min färg eftersom jag inte behöver någotn worker trasformer för min färg.

Fixat i 0.4.65

[2014-07-19 05:46] #45 closed, assigned to melker

[2014-07-19 13:36] melker opened #46 "Filtrera meddelanden"
Kunna välja att visa allt eller bara de som en person skrivit (dvs kunna gömma systemmeddelanden)

[2014-07-20 04:45] melker commented on #15
Fixat. (men jag är ändå inte näjd med hela meddelandedialogens utseende....)

[2014-07-20 04:45] #15 closed, assigned to melker

[2014-07-20 18:45] melker commented on #7
Lagnamnet visas efter namnet i vanliga listan med.

[2014-07-20 21:00] melker commented on #46
Fundering:
I meddelande-dialogen så finns det överst några saker som styr vad som visas som man enkelt kan trycka på för att toggla vad som visas.
System Messages, User Messages, User List
Vad sägs?

Fast User Messages kanske man alltid vill ha... och man kan tänka sig att klumpa ihop eller helt ta bort gamla worker coming home-meddelanden.

[2014-07-21 05:50] melker commented on #46
Fixat i 0.4.67.

[2014-07-21 05:52] melker commented on #46
Bug: Den hanterar inte uppdateringar av listan när man visas i filtrerad mode. T.ex. när man skickat ett meddelande.

Det funkade innan... mina filtrerade lista behöver synkas på något sätt...

[2014-07-21 06:00] melker commented on #46
Update vid filter fixat i min version. Kommer så småningom.

[2014-07-21 06:00] #46 closed, assigned to nobody

[2014-07-22 05:08] melker opened #47 "Visa kostnad för bygge/uppgrad i appen"
I appen på de rutorna visa kostnaden. Gärna med grafiska symboler. Kanske finns någon bra unicode-symbol för mass. Då blir det enkelt.

[2014-07-22 13:01] filwi opened #48 "Visa gained items som ikoner"
Visa vad man får när man förvandlar en worker till scorer parts som ikoner i stället för text.

[2014-07-22 13:02] filwi opened #49 "Göra genererade Area names i stället för N##.# ####"
Som det låter, översätta numren till namn. Jag kan fixa.

[2014-07-22 13:04] melker commented on #48
Kopia av #32

[2014-07-22 13:04] #48 closed, assigned to nobody

[2014-07-22 13:05] filwi opened #50 "Runda kostnader till 2 värdesiffror."
Bör avrunda kostnader för att det ska bli lättare att se vad det kostar:

Beslut: 2 värdesiffror.  Korrekt avrundning.

[2014-07-22 13:07] filwi commented on #47
Bättre att köra med symbolerna för färgen, dvs det som visas på kartan, följt av en siffra.

Det vore bra att göra samma sak i containers, och visa alla färger även när kostnaden är noll (men då ha dem gråade) så att linjen med kostnader alltid är samma. Det underlättar när man ska kolla vad något kostar snabbt.

[2014-07-22 13:08] filwi opened #51 "Det ska inte gå att sätta ut worker på fontäner man inte ser."
Just nu kan man sätta ut workers "i blindo" även när man inte ser fontänen (fast kostnaden är hög). Borde inte gå att göra detta.

[2014-07-22 13:10] filwi opened #52 "Visa typ av fält på utzoomad karta"
Visa vilken typ av fontän som huvudsakligen finns på en viss area när man zoomar ut kartan. Då kan man veta vart man ska gå för att hitta sådana fontände i stället för att behöva scrolla runt på kartan i inzoomat läge.

[2014-07-22 13:11] filwi commented on #40
Är inte det här redan fixat och borde stängas?

[2014-07-22 13:13] filwi commented on #30
Jag kan tänka mig att det här ska vara en "hidden feature" och bara påverka lite. Inte så att det märks väldigt men tillräckligt för att folk ska spekulera.

[2014-07-22 13:14] filwi commented on #32
Sorry, missade den här.

[2014-07-22 13:18] melker commented on #52
Kopia av #28

[2014-07-22 13:18] #52 closed, assigned to nobody

[2014-07-22 13:18] melker commented on #28
Se även #52

[2014-07-22 13:23] melker commented on #40
Jag blev inte klok på vad ärendet var men det var altså att ta bort
begränsningen på containers. Då är det fixad.

[2014-07-22 13:24] melker commented on #30
Låter utmärkt.

[2014-07-22 13:25] #40 closed, assigned to nobody

[2014-07-22 13:37] melker commented on #50
Håller nästan med. Vi skippar 25-steget. Jämna 10tal

[2014-07-22 13:52] filwi opened #53 "Tillgång till meny/about utan menyknapp"
Jag misstänker att about-rutan kommer upp när man trycker på menyknappen (du har pratat om en sådan, men jag har aldrig sett någon). Jag har ingen menyknapp på min telefon, så jag ser aldrig det.

[2014-07-22 14:03] filwi opened #54 "Möjligt att ställa ut worker som man förlorar på?"
Just nu kan man ställa ut workers på portaler som kostar mer än vad man kan få ut av att ladda workern full. Det borde inte vara möjligt tycker jag eftersom man kan råka trycka fel och blir då irriterad. Vad tycker du?

Kontrollfråga om den kostar mer än vad man kan få in från den. Det är en justering enbart i klienten.

[2014-07-22 15:24] filwi opened #55 "Finns ökningen i tid för varje gång man skapar workers?"
I början hade vi att man börjar med 15 minuter mellan worker kostnads reset och sedan ökade det. Finns det kvar? I så fall hur funkar det idag och vad är maxgränsen?

[2014-07-22 15:37] melker commented on #54
Låter rimligt. Kontrollfråga i alla fall.  Man kan spendera för att få
unika i sin statistik...

[2014-07-22 15:38] melker commented on #55
Det är 15 + 15 per worker... ingen max. Just nu... har jag för mig.

[2014-07-22 16:27] melker commented on #53
Jag hade fått för mig att det var en av sakerna som måste finnas på android-fån.

Då får vi väl ordna en sådan... då flyttas även teamknappen dit.

[2014-07-22 16:29] #55 closed, assigned to nobody

[2014-07-22 16:39] melker commented on #50
Är nog inne på enklare variant som är konsekvent uppåt...att visa max två värdesiffror eller att när man kommer till 20 på siffran högre så skippas denna siffra.

T.ex. 1234 => 1200
2345 => 2000
2999 => 2000
...

[2014-07-22 20:39] filwi commented on #50
Jag lutar mot 2 värdesiffror och avrunda uppåt. Då får vi en avrundning på 10 om det är under 1000 och en avrundning på 100 om det är över 1000, det borde stämma väl överens med hur mycket färg man kommer att ha tillgång till i spelets faser.

[2014-07-22 20:42] filwi opened #56 "Skilja på Team namn och förkortning"
Just nu kan man ha hur långa team namn som helst, vilket är helt OK, men det borde inte visas så långa namn i scoringlistor etc, samtidigt som man borde visa vilket team man tillhör.

Därför föreslår jag att man har en team förkortning som team-ägaren anger och som visar i klamrar framför spelarnamnet i scoringlistor etc. som så:

[Imp] Erik
[TDS] filwi

Längden på förkortningen borde inte vara me

[2014-07-23 04:07] melker commented on #50
Då lör vi på två värdesiffror och riktig avrundning.

[2014-07-23 04:11] melker commented on #56
Låter rimligt.

[2014-07-23 04:16] melker commented on #53
Var ska vi ha den då? Ska sista "fliken" vara en "..." i stälket?

[2014-07-23 04:29] melker opened #57 "När den hittat position så ska den visa det på kartan"
Hade för mig det fanns ticket för detta men hittar ej sådan.

När den inte har pos först och sedan får pos så visas ej markören/cirkeln på kartan.

[2014-07-23 04:33] melker opened #58 "Separata knappar för min pos/portalers pos"
Jag viöl ha en knapp för gå till min pos och en för att bläddra genom portaler.

[2014-07-23 07:01] filwi commented on #58
Varför?
Men i så fall, vad sägs om en "egen pos" knapp i nedre högra hörnet på samma sätt som portalerna är i övre högra?

[2014-07-23 07:03] filwi commented on #53
Skulle kunna funka. Eller så tar man bort kartknappen och flyttar alla andra åt vänster. Men det är kanske en annan issue.

[2014-07-23 07:05] filwi commented on #38
Vad sägs om att man kan samla till egna logos på workers/annat? Så att man börjar med ett gäng standardlogos och kan samla till att kunna göra custom logos på sina workers? Det påverkar inte spelet men ger skryträttigheter.

[2014-07-23 07:06] filwi commented on #38
På samma sätt: custom logos för teams.

Vi behöver tänka igenom hur man bygger logos i spelet, så att man kan bygga custom från vissa bestämda komponenter som vi fördefinierar, annars blir det lätt att folk laddar upp bilder på penisar och annan skit.

[2014-07-23 07:08] filwi commented on #49
Kan man skilja på större areor på något sätt? Då menar jag grupper av areor; skulle behöva förstå algoritmen för att räkna ut arean, är det en vanlig "dela längd/breddgrad" eller något annat?

[2014-07-23 18:44] filwi opened #59 "Scorer screen: Short press ska lägga till en del av det man tryckte på"
Som det står :)

[2014-07-23 18:45] filwi opened #60 "Bygga scorer ska alltid börja med en rack"
Varje rack ger ett antal tomma rutor som man sedan kan fylla.

[2014-07-23 18:48] filwi opened #61 "Ska vi tillåta att man kombinerar scorer parts till bättre parts?"
Det skulle även kunna innebära att vi har en "part improvement" byggnad vars level styr vilken level på parts man kan kombinera. Jag tänker mig 2-till-1-bättre men det kan behövas 3-till-1 eller mer beroende på hur vi ställer algoritmen för att få prylar.

Just nu är allt ungefär lika bra, men när vi har en begränsning på hur mycket man kan ladda in i en rack så kommer ettorna att vara verkligt ka

[2014-07-23 18:55] filwi opened #62 "Statistics & Medals"
Lite idéer till sådant som man kan hålla reda på och ge medaljer för:
- max # workers
- max # worker levels (sammanlagt för alla workers)
- max worker level (bästa workern)
- # transformed workers (till andra färger)
- # workers -> scorer parts
- # scorers placed
- max scorer level som man placerat
- # other people's scorers placed
- # of fountains som man satt workers på
- # portals deployed
- #

[2014-07-23 20:34] melker commented on #59
Först förstod jag ingenting... men... sedan... aha.... så det går fortare, ja.

[2014-07-23 20:36] melker commented on #61
Det är väl då en "extension" kommer in bra. Dvs att kunna lägga på fler saker.

[2014-07-23 20:39] melker commented on #62
Se #8

[2014-07-23 20:43] melker commented on #58
Varför: När man rör på sig och telefonen uppdaterar... jag bläddrar runt
och sedan har min telefon plötsligt hittat positionen. Då vill jag hoppa
till den positionen... men då måste jag bläddra en massa.

Om den ligger uppe eller nere spelar nog inge roll för mig. Spontant tänkte
jag mig den tillsammans med portal-bläddringsknappen.

[2014-07-23 20:45] melker commented on #49
Mmmmm... det är _Latitud_ (breddgrad) som är unik och entydig. I övrigt så
delas den in beroende på hur när pol/ekvator den är.

erik.melkersson@gmail.com

[2014-07-23 20:47] melker commented on #8
Filip:

Lite idéer till sådant som man kan hålla reda på och ge medaljer för:

[code]

Vad tror du?

[2014-07-23 20:48] melker commented on #62
Flyttade kommentarer till 8

[2014-07-23 20:48] #62 closed, assigned to nobody

[2014-07-23 20:49] melker commented on #60
Se #10

[2014-07-23 20:49] #60 closed, assigned to nobody

[2014-07-23 20:51] melker commented on #10
Eller: Att man måste börja med en rack som ger hur många rutor som finns.

[2014-07-24 04:34] melker commented on #51
Fixat i kommande 0.4.68

[2014-07-24 04:34] #51 closed, assigned to melker

[2014-07-24 04:44] melker commented on #53
FIxat i 0.4.68. Lade in en knapp till just nu.

[2014-07-24 04:44] #53 closed, assigned to nobody

[2014-07-24 04:52] melker commented on #57
Kanske fixat i min versison.....

[2014-07-24 06:58] filwi opened #63 "Back-knappen buggar"
Jag använder back-knappen för att gå ut till kartan men den går tillbaka till en gammal vy i stället, t.ex. från kartan till en worker vy. Ofta visar den inaktuella vyer, fel antal lediga workers, fel aktiva portaler etc.

[2014-07-24 06:59] filwi opened #64 "Fountain has dried up?"
Ibland när jag placerar en worker säger spelet "fountain has dried up" och fontänen, plus alla workers, försvinner från kartvyn. Workersen funkar bra fortfarande, de suger färg etc. men fontänen är ingenstans att se. Vad är detta?

[2014-07-24 07:05] filwi commented on #61
I så fall måste extensions vara ganska så vanliga för annars har man ändå ingen användning av 1 containers - man måste ha så hiskeligt många för att det ska funka.

Alternativet är att man har en "snabbygga-knapp" som slänger ihop en scorer av de kassaste delarna man har, men då är det inte lika kul att samla delar och bygga mastiga scorers (vilket är det roliga).

Annars kommer man bara ha en mas

[2014-07-24 07:12] filwi commented on #58
Ok, jag får min positon väldigt snabbt. Har snarare problemet att Colors låser till en position som sedan uppdateras och inte uppdaterar den.

[2014-07-24 07:14] filwi commented on #49
Hm.... jag tror att jag kan fixa till namngivning baserat på det, borde vara lätt att dela upp i stora areor och i mindre areor. Bättre att börja med de mindre i så fall. Ska tänka lite till.

[2014-07-24 07:50] melker commented on #63
Jag har också noterat att den ibland har 2 instanser av kartan igång. .
Tror det är relaterat. Har nog något att göra med hur man startar appen...
om du hittar ett återskapningbart fall får du gärna skriva ner det.

[2014-07-24 07:53] melker commented on #58
Den tar först den senast kända pos, vilken kan vara ganska fel. Sedan
startar gps jobba... vilket kan ta tid.

[2014-07-24 15:06] filwi opened #65 "Transmitter mounting is reset"
Just nu nollställs scorern när man byter skärm eller byter fokus bort från appen (släcker skärmen, gör något annat etc.). Den borde vara kvar som den var och det borde finnas en knapp för att nollställa scorer: "reset" i samma vy som "mount".

[2014-07-24 15:09] filwi opened #66 "Transmitter parts ideas"
Förslag: Varje rack har en ruta för varje färg (dvs 5 rutor). Fyller man en ruta med en färg så kan man inte lägga till den färgen igen.

Rack expanders ger extra rutor av en viss färg (de kommer i färger och levels, dvs hur många rutor extra de ger).

Transmitter calibrators: kommer i levels, där höger levels ger extra poäng eller en multiplier på scorern man bygger.

Allt detta för att det ska l

[2014-07-24 15:11] filwi opened #67 "Max worker rest tid: 6 timmar"
Det borde finnas en cap på hur mycket man måste vänta för att resetta workers klockan. Detta eftersom man måste bränna workers och om man har oändligt med tid inte kan bygga upp en bas till mer än vad man själv + 2-3 portaler kan hålla igång hela tiden. Vi vill ju att folk ska röra på sig lite trots allt.

Jag föreslår en cap på 6 timmar. Har man mindre än 24 workers så minskar den (funkar som ida

[2014-07-24 20:55] melker commented on #67
(1 + bef antal workers) \* 15 minuter men max 6 timmar.
Infört på servern.

[2014-07-24 20:55] #67 closed, assigned to nobody

[2014-07-24 20:57] melker commented on #61
Man kan ju i grundutförandet tillåta att man kan ha en eller två extra. (för att fylla upp till rätt nivå). Då kan man slänga med en etta eller tvåa för att få upp färgerna till samma nivå.

[2014-07-26 04:13] melker commented on #63
Undersök närmare:
http://stackoverflow.com/questions/4341600/how-to-prevent-multiple-instances-of-an-activity-when-it-is-launched-with-differ

[2014-07-26 18:14] filwi commented on #63
android:launchMode="singleTask" verkar var rätt lösning, det säkerställer att man alltid hamnar på kartan när man går in i appen, vilket är vad vi vill. Sedan ska back-knappen alltid landa på kartan, oavsett vad man har gjort i appen tidigare. Back-knappen från kartan går ut ur appen.

[2014-07-26 18:20] filwi opened #68 "Transmitter mounting"
- Börja bygga scorer genom att lägga in en rack (alternativ, när man byggt färdigt en scorer får man alltid en tom rack om man har en).
- Varje rack har 5 rutor, en för varje färg.
- Det finns en item som heter rack-expander som ger en X nya rutor i en färg. Expanders är färgberoende (dvs har man en röd expander funkar den bara för röda kuber). Man kan inte expandera en expander.
- Det finns olika

[2014-07-26 18:21] filwi opened #69 "Trading"
Man ska kunna skicka följande till andra:
- Scorers att sätta ut (måste markera att man har andras scorers på något sätt).
- Färg
- Scorer parts

[2014-07-26 18:34] filwi opened #70 "UI för byta färg"
![ui modulate color v0 1 140726](https://cloud.githubusercontent.com/assets/8066290/3711949/ac450368-14f3-11e4-93b9-c9665ee5ca10.jpg)

[2014-07-26 18:37] filwi opened #71 "Byggnad för att slå samman scorer part färgkuber"
Som diskutterat

[2014-07-26 18:44] filwi opened #72 "Synkronisera i bakgrunden"
Borde vara möjligt att markera att en action inte är syncroniserad (t.ex. genom att man blinkar en nyligen utsatt worker) och låta spelaren utföra fler actions medan syncen går i bakgrunden. Om syncen misslyckas så kan man meddela sync failed och ta bort den blinkade actionen, annars så göra man den helfärgad.

Allt för att öka hastigheten när man spelar så att man inte hakar upp sig på tekniska d

[2014-07-26 20:40] melker commented on #10
Ersatt av #68

[2014-07-26 20:41] #10 closed, assigned to melker

[2014-07-26 20:46] melker commented on #70
Vad avses? När man vill ändra färg på bef färg? Den som bara har 10-30? Siffran behöver justeras för hur man väljer i alla fall.

[2014-07-26 20:50] melker commented on #72
Om du placerar en worker och det sedan misslyckas. Räcker det med en toast (lilla grå rutan som försvinner automatiskt)?

Den funkar även om man växlar t tex worker-vyn. Fast det ska ju återspeglas även där... man kan få läge då man hat flera actions som pågår samtidigt. .. men det går nog.

[2014-07-26 20:56] filwi commented on #72
Toast funkar. Man märker när workern inte finns på kartan längre.

[2014-07-26 20:59] filwi opened #73 "Spacing på workers kring fontän"
Vad sägs om att ha följande sätt att placera workers kring en fontän:

Första workern placeras baserat på en slum genererad från fontänens hash (samma som placering av fontäner).

Resten av workers placeras jämnt runt fontänen (dvs dela med antal workers som är placerade, sedan spaca ut dem).

Alternativt är att man randomiserar lite grand baserat på fontänens hash.

Tanken är att det ska vara lik

[2014-07-26 21:03] filwi commented on #70
Exakt den som säger 10-30 idag.

En draw i mitten och så visar den hur mycket färg man moddar. När man klickar + och - så är det i färgen man moddar från som skiftar (och linjen är färgen man moddar ifrån också).

Man skulle kunna tänka sig att man visar hur mycket av varje färg man har också (så en siffra under mod up och mod down, samt en etta längst till vänster på drag-skalan och hur mycket i

[2014-07-26 21:03] filwi commented on #70
Mängden färg som man moddar till är avrundat till närmsta heltal.

[2014-07-27 04:35] melker commented on #70
Ser vettigt ut men jag kommer använda den färdiga slidern. Tror inte den
har +-10 men man kan ju dra i reglaget då.

Lite färg på up/down med dess symbol. Dvs visa det i stället för texten
up/down.

[2014-07-27 04:41] melker commented on #73
Just nu är en workers vinkel enbart baserat på workerns id, men en del blir
ju väldigt lika.

Att fördela cirkeln jämnt bli lustigt för då kommer en w att flytta på sig
när man placerar nästa. Då behövs i stället fixa pos för första, andra...
fast det blir lustigt när man ta tillbaka en worker....

Kan man baserade det bara på workern själv (med förskjutning baserat på
fontänens id) så står den kv

[2014-07-27 18:14] filwi commented on #73
Varför inte låta workers flytta på sig? De är som bin, när ett nytt bi kommer så flyttar de andra på sig och släpper in det i cirkeln. Visar på att alla arbetar tillsammans för det allmäna goda, vi kan väva in det i storyn. Och så kommer det att se snyggt ut.

[2014-07-31 17:31] filwi opened #74 "Show team of user in message list"
Som diskutterat:

Tidsstämpel - [Team förkortning, om den finns, i klamrar] Namn:

[2014-07-31 17:32] filwi opened #75 "Markera mitten på portal-cirkeln när man sätter ut portal."
Som det låter, att man markerar var mitten på portalen är så man inte behöver gissa sig till det.

[2014-07-31 17:33] filwi opened #76 "Ny portal grafik"
Behöver göras i samma stuk som nya fontänerna.

[2014-07-31 17:35] filwi opened #77 "Möjlighet att flytta om worker attribut"
Borde vi ha en möjlighet att flytta om workerattribut nu när de är så dyra att bygga? Annars är det väldigt vanskligt att förändra om man tvingas bygga nytt hela tiden. Bättre att man kan laborera med de som man har.

Men då är frågan, om man ändrar så att man inte längre kan ha placerat ut workers där de finns, ska de åka hem då? Eller ska vi ignorera det helt och hållet? Jag röstar på åka hem, d

[2014-07-31 17:36] filwi opened #78 "Titlar"
Vad sägs om:

Lead developer: Erik Melkersson
Lead designer: Filip Wiltgren

Det ger intrycket att det finns lite mer krut och kraft bakom spelet, och ser finare ut i resumén senare.

[2014-07-31 17:38] filwi opened #79 "Ignore list"
Har för mig att vi diskutterat detta men hittar det inte:

Det kommer att behövas en ignore-funktion där man kan ignorera allt en spelare eller ett team säger. För att filtrera bort troll och liknande.

[2014-07-31 17:38] filwi opened #80 "Ser inte längre spelaren "Jobb""
Jag ser inte längre spelaren Jobb i listan. Det borde jag göra eftersom jag har haft kontakt med den en gång i tiden (enligt vad vi sagt, men det kanske är ändrat).

[2014-07-31 17:40] filwi opened #81 "Story: spelaren är basen"
Vad sägs om följande story: man är en crystalin varelse som skickas till jorden för att farma färg. Så basen är ens egen "kropp" och då får vi följande termer:
- transmute color
- modulate worker (ändra färg)
- extrude worker (bygga worker), alternativt grow worker
- tap crystal (ta färg från fontän)
- grow base

Vad tror du?

[2014-07-31 17:43] filwi opened #82 "Namn på färger"
Vad sägs om:
- Rubinium (röd)
- Azon (blå)
- Hadranium (grön)
- Gelbur (gul) (alternativt Gelbor)
- Moviridium (lila)

[2014-08-01 08:09] melker commented on #73
Det kan de väl få. Jag tänkte mest att man placerar dem och sedan vill man se var ens egna är och att det var lustigt att utplcerade "saker" flyttar på sig.... En annan ide är att för mig så visas mina på en speciell vinkel och andras på annan vinkel

[2014-08-01 08:11] melker commented on #75
En portal hade jag ju tidigare när man placerade ut. Vad ska det vara? Hårkors, prick, genomskinlig portal, annat?

[2014-08-01 09:08] filwi commented on #73
Vad sägs om detta: vi spacar dem jämt, med en viss variation baserat på fontänens hash, men att man alltid ser sina egna "först" och att "först innebär i en position som är på/kring toppen av fontänen (uppåt/norrut när man tittar på kartan)?

Dvs. att workers kring en fontän är ordnade på olika sätt för olika användare.

[2014-08-01 09:10] filwi commented on #75
Prick, men hyffsat stor. Vi får testa och se hur det ser ut på olika telefoner.

[2014-08-01 09:14] filwi opened #83 "Slå samman color notifications"
När man ser en notification så ska den slå samman all färg av varje slag som man fått:

i stället för "8 red" och nästa "8 red" så addera ihop dem till "16 red" i stället. Så att man i sin notification får bara max fem färger (en av varje som man fått i) och inte flera av varje färg.

[2014-08-01 09:19] filwi opened #84 "Chatten minns inte inställningar"
Chatten glömmer bort vilka inställningar man hade när man går in i spelet igen. Den bör spara inställningarna (vad som visas) till settings eller något.

[2014-08-01 09:20] filwi commented on #78
Vi skulle kunna dra på lite extra:

Concept: Erik & Filip
Development: Erik
Game design: Filip
Art: Filip (ev, annan)
Testing: Alla våra (icke existerande) betatestare.

[2014-08-02 04:55] melker commented on #77
Eftersom det bara är vid själva utplaceringen som sådant kollas kajag tänka mig att om man ska kunna ändra om så SKA alla workers vara hemma eller skickas hem. Om man ska ändra om så ska det väl kosta lite ändå så man inte gör det hela tiden... eller så kan det vara en del av spelet.  Man ska ju ha mer att göra än att plcera workers... man ska göra det optimalt för där man är.

[2014-08-02 04:56] melker commented on #78
Blir säkert bra.

[2014-08-02 04:56] melker commented on #79
Ja, det kommer behövas.

[2014-08-02 04:57] melker commented on #80
Ja...jag vet inte vad som hände med den. Jag tror den har något galet i db

[2014-08-02 05:43] melker commented on #81
Alternativ tanke: att spelet inleds med nödanrop från "rymdskepp" som inte själva kan komma för nära vår planet men att el.enheten man har kan styra dem....

Men din tanke funkar bra med. Att man får reda på att man är "speciell".

[2014-08-02 05:43] melker commented on #82
Funkar

[2014-08-02 05:44] melker commented on #73
Ok

[2014-08-02 05:48] melker commented on #83
Medhåll. Trodde jag hade lagt in ticket om det tidigare... eller så var det bara kommentar i min kod.

[2014-08-03 13:21] filwi commented on #77
Håller med, ska man ända så åker alla workers hem. Det blir en kostnad i tid/aktivitet.

[2014-08-03 13:22] filwi commented on #81
Ok, jag tänker vidare och spånar på en text.

[2014-08-04 14:51] filwi opened #85 "Bugg i mängden färg från fontäner?"
Jag har märkt att alla mina workers alltid kommer tillbaka fulladdade från fontäner. Det borde inte vara så om fontänerna slutar leverera när de är slut - och om de inte är slut så borde de inte försvinna när workers kommer tillbaka.

[2014-08-04 20:31] filwi opened #86 "Timestamp bug"
Rapporterar senaste 24h med tid. Borde rapportera allt fram till sista midnatt med tid, allting innan sista midnatt som datum.

Edit: jag menar i notifications.

[2014-08-06 13:31] melker opened #87 "Halvera fontänantalet"
Man behöver ju inte flytta på sig så mycket nu.

[2014-08-06 13:40] melker opened #88 "Minska kostnad för byggnad för fler workers."
Jag kan nu komma upp till 5 men sedan är det jobbigt. Några till ska man kunna få...

[2014-08-08 12:05] filwi commented on #88
Osäker på detta. Ja, det blir dyrt, men så ska det vara. Man ska behöva åka runt lite och vara aktiv för att kunna dra in många workers.

[2014-08-08 12:11] filwi opened #89 "Scoring view idéer"
Lite tankar, vad tror du om:
1. Vi lägger till ytterligare en nivå (har diskutterats tidigare), med en rutstorlek på 2x2 km, sedan nästa nivå på 10x10 sådana rutor, sedan nästa med 20x20 nivå två rutor (dvs 400 x 400 km). Det gör att det lönar sig att åka en bit innan man sätter ut sin scorer och även att byta scorers med folk i andra bigareas (400 x 400 km areorna).
2. Vi skriver in vilken positi

[2014-08-08 13:44] melker commented on #89
Det är en sfär vi pratar om... men om det är ok att rutorna blir mycket
mindre närmare polerna så funkar "rutor".

[2014-08-08 13:46] filwi commented on #89
Helt OK - stackarn som sitter ensam på Svalbard och spelar behöver all hjälp hen kan få...

[2014-08-08 17:46] melker commented on #63
Har tryckt dit
android:launchMode="singleTask"
i kommande 0.4.69. Får se om det löser problemen.

[2014-08-08 17:51] melker commented on #88
Ja... men det som tar tid är ju att vänta på att de ska ladda... några fler tycker jag nog man ska kunna ha så man faktiskt vill åka runt för att besöka dem... fast det kanske #87 löser.... avslår detta så länge då.

[2014-08-08 17:51] #88 closed, assigned to nobody

[2014-08-08 18:58] melker commented on #82
Inlagt i klient.

[2014-08-08 18:59] melker commented on #82
Inlagt på server

[2014-08-08 18:59] #82 closed, assigned to melker

[2014-08-08 19:05] melker commented on #85
Kanke är fel.... jag har inte satt så många på samma nu för tiden... behöver testas lite.

[2014-08-08 19:09] melker commented on #78
Bara tryckte in texten....

[2014-08-08 19:09] #78 closed, assigned to nobody

[2014-08-08 19:15] melker commented on #77
Bra ideer för hur det ska grafiskt ska se ut?

För övrigt så kommer "downgrade" att försvinna om vi gör detta.

[2014-08-08 19:17] melker commented on #57
Filip: Kolla upp om det funkar i 0.4.69.

[2014-08-08 19:18] melker commented on #63
Filip: Kolla upp hur den beter sig i 0.4.69. Om det är ok för dig.

[2014-08-08 21:05] melker commented on #32
Påbörjad.

Till mig själv:
Server: måste nog ha namn-värde par i stället för att det ska bli läsbart med json-biblioteket i appen.
App: Skapa upp objekt med rätt bild etc... så den visas.

[2014-08-08 21:31] melker commented on #32
Fixat. Kommer i 0.4.70

[2014-08-08 21:31] #32 closed, assigned to melker

[2014-08-09 05:26] melker commented on #68
Tanke om hur det grafiskt kan funka:

[Rack] [Ext1] [Ext2] [ => ScL]
[C1]  [C2]  [C3]  [C4]  [C5]
[C1e] [C2e] [C3e] [C4e] [C5e]
[C1e] [C2e] [C3e] [C4e] [C5e]

Initialt: Visar en "inaktiv" rack och en inaktiv "=> ScL"-knapp.

Rack: Olika storlek, kan tillåta 0-2 rare-saker (Ext). Rutorna visas när man har en sådan rack.

Transmitter är i stället en "rare"-sak, inget man måste ha.

Knappen för att b

[2014-08-10 18:35] melker opened #90 "Escape-a innehållet i meddelanden"
En fnutt i meddelanden kan få den att inte fungera...

Server ska escape-a till korrekt xml.

[2014-08-10 19:50] melker commented on #90
Fixat.

[2014-08-10 19:50] #90 closed, assigned to melker

[2014-08-11 06:43] filwi opened #91 "Story förslag"
Introskärm:

Seedling, you have survived! Joyous condescension bubbles through my secondary sphincter. The Rubinium shall flow! We shall be awash in Gelbur! Joy, joy, joy, four times resounding joy!
Do you like my mode of speech? We have taken special steps to sound like your adopted host species in this recording.
But enough with the biological entity noises. Moviridien makes the world go circula

[2014-08-11 06:49] filwi commented on #87
Tror jag gillar "fler workers" bättre än "färre fontäner". Ja, man behöver inte röra på sig så mycket, men det är lite av charmen med spelet. Det är inte ingress eller alla andra GPS-based där man måste kuta runt hela tiden för att spela, i stället kan man spela lite casual och ändå få ut en hel del av det. Jag röstar för att vi behåller det som det är just nu och ser vad som händer när vi har fle

[2014-08-11 06:52] filwi commented on #77
[code]

[2014-08-11 06:55] filwi commented on #57
Verkar funka. Har inte märkt av det de sista dagarna.

[2014-08-11 06:56] filwi commented on #63
Verkar funka, jag kan inte återskapa felet längre.

[2014-08-11 06:56] #63 closed, assigned to filwi

[2014-08-11 07:05] filwi commented on #68
Ser bra ut, med ett par ändringar:

tror inte att racken ska vara det som begärnsar hur många rares man kan lägga in, det kommer bara att bli förvirrande att hålla reda på alla racks. Vi låter begränsningen finnas i hur många extenders och transmitters man har.

Färgrutorna ser bra ut, dock: extender rutorna bör vara mindre än den "vanliga" färgrutan för att markera att man inte kan lägga in en ex

[2014-08-11 12:58] melker commented on #14
Mitt svar nu: Dodekaeder. Det blir liksidiga trianglar över världen. Dessa går bra att dela in i liksidiga trianglar i sin tur. De flesta kommer ha en skärningpunkt med 6 ytor inom rimligt avstånd. Alla ytor kommer vara trianglar.

Ja behöver namn på 20 ytor. (jag tar A, B, C så länge... om du inte har något)
Topplistor för dessa 20 ytor.
Topplista för en mellannivå (oklar hur stor). De kan få nam

[2014-08-11 16:15] #57 closed, assigned to filwi

[2014-08-12 04:11] melker commented on #68
Till viss del fixat i 0.4.71

[2014-08-12 18:59] melker commented on #68
0.4.72 har stöd för 2 och 3-extenders. (fast färgen på dess bild är oftast fel.. har bara gjort en bild)

[2014-08-13 20:39] melker commented on #70
Det är kvar i två steg och det behövs en bättre plus/minus-bild men fungerar nu i 0.4.74

Motsvaranda funktionalitet kommer ju även behövas för att skicka till en annan spelare. Då väljer man färg, Skicka, Vilken spelare och sedan Mängd (som använder samma dialog). (Dvs välja spelare blir det extra steget)

[2014-08-13 20:39] #70 closed, assigned to melker

[2014-08-14 04:44] melker commented on #81
Ersatt at #91

[2014-08-14 04:44] #81 closed, assigned to nobody

[2014-08-15 04:44] melker commented on #14
Modifierat just nu... 22 stora ytor.
Dessa delas sedan in i ett enkelt rutnät på lat/lng. Utom polerna som jag behöver fundera mer på.

Nordpolen: 1st, lat>66
Norra: 5 st, 27.5<lat<66
Centrala: 10st, -27.5<lat<+27.5
Södra: 5st 27.5<lat<66
Sydpol: 1st, lat < -66

Varje sådan ruta är då ca 2e13m²

Notera att t.ex 1/6 av Sverige hamnar i norpolen-området.

Ett alternativ är att skjuta gränsen vid pol

[2014-08-18 08:37] filwi opened #92 "Bug i GPS"
0.4.74 (och tidigare version också) startar inte GPS längre. Den tar bara positionen från närmsta wifi eller torn (dvs A-GPS delen verkar funka men inte själva GPS). Går att återskapa utan problem - händer varje gång.

[2014-08-18 08:39] filwi opened #93 "Uppdaterar inte skärmen när man loggar in"
Informationen när man loggar in uppdateras inte, man ser gamla kartan ända tills man går till workers vyn, därefter ser jag ny, uppdaterad karta och uppdaterade workers på kartvyn. v0.4.74

[2014-08-18 08:41] filwi opened #94 "Större avstånd i byta färg UI"
Det är för lätt att trycka på linjen när man trycker på + tecknen. Öka avståndet mellan + och linjen, alternativt lägg de bredvid ikonen (kanske bättre, i så fall: -10, -1, ikon för nya färgen, +1, +10).

[2014-08-18 08:44] filwi commented on #87
När jag testar med många workers så tömmer man fontänerna runt sina vanliga platser ganska regelbundet. Jag kan kanske sätta ut alla mina workers 1 ggr/vecka utan att åka utanför där jag brukar vara. Annars så är det att leta de 2-3 fontänerna som finns tillgängliga just då, vilket är bra för att man har en anledning att logga in med jämna mellanrum.

Jag föreslår att vi stänger den har issuen och

[2014-08-18 16:32] melker commented on #87
Medhåll

[2014-08-18 16:32] #87 closed, assigned to nobody

[2014-08-19 08:17] melker commented on #89
I versionen som kommer nu finns en nivå till. (fler blir bara grötigt)
Poängen är nollställda nu.

Det är 28 stora rutor i världen varav nord- och sydpolen är de mest lustiga. (ungefär europa är en)
Dessa är indelade i 8x8 rutor (ung södra sverige)
Dessa är i sin tur indelade i 64x64 rutor (små... kanske lite för små... men jag tror det blir bra ur rörelsesynpunkt)

Det är bara de små som ger bonu

[2014-08-19 08:18] melker commented on #14
Modifierat till enl #89

[2014-08-19 08:18] #14 closed, assigned to melker

[2014-08-19 08:37] filwi commented on #89
Ok, vi får testa och se vad som händer.

[2014-08-19 08:53] filwi commented on #89
![scoring view ruta 140819](https://cloud.githubusercontent.com/assets/8066290/3963588/463442b2-277e-11e4-911b-d734db4ff141.png)

Vad tror du?

[2014-08-19 09:12] melker commented on #89
Är din tanke på vanl. kartan?

[2014-08-19 09:22] melker commented on #61
Se #71

[2014-08-19 09:22] #61 closed, assigned to nobody

[2014-08-19 09:23] melker commented on #71
Till nivån för byggnaden. Samma byggnad som omvandlar från worker till scorer part.

[2014-08-19 09:24] filwi commented on #89
Min tanke var på scoring view, att man kan scrolla runt på kartan där och kika. Men om vi har med det på vanliga kartan, och bara har en toggle för att visa scoring, så skulle det vara lättare för spelarna. Vad tror du?

[2014-08-19 09:26] melker commented on #91
Inlagt.

[2014-08-19 09:26] #91 closed, assigned to nobody

[2014-08-19 09:27] melker commented on #80
Släpper detta så länge.

[2014-08-19 09:27] #80 closed, assigned to nobody

[2014-08-19 09:31] melker commented on #49
Nu är det 1 nordpol, 5 nordliga, 8 norr om ekvatorn, 8 söder om ekvatorn, 5 sydliga och sydpolen.
De 28 kan få skojiga namn.

Inom dessa 8x8 och inom dem 64x64 får man nog ta till siffor/bokstäver.

[2014-08-19 09:47] filwi commented on #49
Hur är ID:t internt just nu? Kan du ge mig ranges för hur de är uppdelade (t.ex. 1.5.18 eller ASDF eller 1234451 eller något)?

När jag vet hur det ser ut kan jag skriva listor baserat på antal i varje uppdelning och fixa en algoritm för hur det ska se ut.

[2014-08-19 10:13] melker commented on #49
Ett 32 bitars tal.

bit 0 tom 5. Big, bara en uppräkning norr till söder och väst till öst.
(olika mängder). (6 bitar kan ju ge 64 olika varianter men jag reserverar
ändå 6 bitar för att få det rimligt jämt)
bit 6 tom 11. Middle, 3 första bitarna är latitud och de tre efter är
longitud
bit 12 tom 31 Small, fast jag använder bara de 18 minst signifikanta i
dagsläget. 9 för latitud och 9 för longitu

[2014-08-19 10:22] melker commented on #89
Hmmm....

Jag nu laddar den bara poängen för de ytor där man faktiskt har tagit poäng
men man skulle kunna ladda efterhand som man på något sätt hoppar till
andra ytor.

Jag vill i alla fall se listan med personer. Kartan var min tanke på att
bara visa var det är och inte som "navigering".
Om vi ska ha den som navigering så kan man ju tänka sig:
     ^   M
< |___| >
     V   +-
Dvs lista listan öv

[2014-08-19 10:41] filwi commented on #89
Jag tänkte att man ska visa listan med personer bara om man vill se den. Tanken med att visa vem som är först i en ruta är att man kan dra samman rutor till områden (grafiskt bara, ingen effekt speltekniskt) och på så sätt få in känslan av "ja! jag kontrollerar halva linköping" (eller "han/hon kontrollerar halva linköping"). Och göra samma sak med teams, att man kan visa en rand för team, en rand

[2014-08-19 10:47] melker commented on #89
Gillar tanken med "snabbsummering" av de ytor som just nu visas på
skärmen...
Topp 3 i stället för bara en?

Det är för övrigt lite problem med att den räknar exakt fram till nu och
att poängen är live... poängen kan växla ganska mycket varje sekund,
beroende på att gränsen för att ha satt en scorer i en yta under ett viss
dygn hela tiden ändras. Vi bör nog införa en fix tidsperiod så det inte
bli

[2014-08-19 10:51] melker commented on #89
Just det ja:
Egen flik... tror jag (men båda med kartbakgrund)

Ska man skicka scorer i den fliken/mode då i stället eftersom det är där
man ser vilken man är i och vad effekten blir?
Då kan jag dessutom ta bort scorer-rutorna i vanliga vyn. (som är lite
halvdanna och helt fel just nu)

[2014-08-19 11:30] filwi commented on #89
Ser för och nackdelar med egen flick, definitivt ta det live men inte idag, möten hela dagen.

[2014-08-19 20:26] melker commented on #92
Fixat i 0.4.76, som kommer.

Jag hade någon gång sänkt ACCURACY på positionering för att kunna testa snabbare när jag grejade med något...

[2014-08-19 20:26] #92 closed, assigned to melker

[2014-08-20 20:18] melker commented on #7
Teamsknappen flyttad och ligger sedan 0.4.77 i övrigt menyn.

[2014-08-20 20:21] melker commented on #47
Jag har i 0.4.77 fixat sätt att visa siffra plus bild för kostnader. Syns brevid Bygga worker-knappen och när man ska placera en worker på en portal där det kostar lite. (Nu visar den bara de sorter som kostar något)

[2014-08-21 04:30] melker commented on #59
Vi pratade om att generellt ha:
click - perform defual action
longclick - menu

Har "drag" längre något syfte att fylla då?
I t.ex. bygg scorer-vyn så vet jag inte hur man ens ska aktivera den.

I workers-vyn så ser jag ingen uppenbar default action mer än att dra hem workers och det tycker jag inte man ska råka göra av misstag. Att få upp info om workern (capacitet etc) får bli default... men hur

[2014-08-21 07:27] filwi opened #95 "User manual v0.1"
Som det låter, grundläggande user manual.

[2014-08-21 08:00] filwi commented on #59
Jag ser inte någon poäng med drag egentligen, förutom att scrolla i menyer/på kartan. Ser du?

[2014-08-21 11:31] filwi opened #96 "Othercount ska täcka 2 workers"
Othercount behöver boostas, jag ser redan att det kommer att bli för kasst att investera i det om man bara täcker in en fientlig worker, speciellt om vi lägger samman alla fientliga workers kring en fontän, inte bara den som har flest.

Mitt förslag:

Man börjar med 1 level i othercount (som nu).
Varje level gör att man kan ställa ut även om det är 2 workers där (så har man lvl 3 så kan man ställa

[2014-08-21 11:33] melker commented on #96
Ok

[2014-08-21 13:59] filwi commented on #76
Portaler i alla 5 färgerna, 256 x 256 pixlar. Funkar det?

![portal-blue-v0 2-140821-01](https://cloud.githubusercontent.com/assets/8066290/3997077/ed95eb14-293b-11e4-9425-23ecf03f6768.png)
![portal-green-v0 2-140821-01](https://cloud.githubusercontent.com/assets/8066290/3997075/ed941500-293b-11e4-8f31-9d3d1cd75f0b.png)
![portal-purple-v0 2-140821-01](https://cloud.githubusercontent.com/assets/806

[2014-08-21 14:03] melker commented on #76
Fontäner menar du?

[2014-08-21 14:04] filwi commented on #76
Nej, portaler, det som man ställer ut för att kunna placera ut workers senare. Kodat till den färg som spelaren har. Inte för att de kommer att se andras portaler men det är ju alltid kul att få sin egen färg bekräftad...

Och nu i rätt storlek också.

[2014-08-21 14:08] melker commented on #76
Ok.

[2014-08-22 05:26] melker commented on #50
Har lagt in funktion på servern för det. Klienten ska justeras.

[2014-08-22 08:17] melker commented on #50
0.4.78

[2014-08-22 08:17] #50 closed, assigned to melker

[2014-08-22 08:17] melker commented on #59
0.4.78

[2014-08-22 08:17] #59 closed, assigned to melker

[2014-08-22 20:40] melker commented on #76
Inlagt

[2014-08-22 20:40] #76 closed, assigned to melker

[2014-08-22 21:07] melker commented on #96
Fixat på server. Kräver dock att du gör en upgrade eller downgrade på Worker Upgrader för att applicera på bef workers.

[2014-08-22 21:07] #96 closed, assigned to melker

[2014-08-23 04:09] melker opened #97 "Förslag: Flytta saker från facility-fliken till det de hör samman med, och rundflyttning i menyer..."
T.ex. producer/upgrader (som vi ju grafisk slagit samman) och ändra-färg saken läggs övers på workers-fliken och skapa ny worker knappen läggs vid  producer/upgrader.

Scorer part-omvandlaren och ny byggnad för mängd sam sammanslagning läggs överst på scorerpart-fliken.

Placera scorer hamnar på score(r)-flik tillsammans med vis poäng.

Kvar att fundera på är transmitter-sak men den kanske ska få

[2014-08-23 07:55] melker opened #98 "Portalers radie"
Portalers radie uppdateras inte som den ska om man uppgradera under tiden och ibland så är den 0, trots att man har en. Den kanske borde sättas när man får data i stället.

[2014-08-23 07:59] melker opened #99 "Sakerna på kartan "blinkar till" när man scrollar på kartan"
Just nu tar den bort allt och ritar ut på nytt. Gör om så den gör lite smartare och tar bort det som är utanför och lägger till de nya och inte rör befintliga.

[2014-08-23 08:31] filwi commented on #97
Vi behöver ta det här live, lite mer komplext än det verkar; rör egentligen hela UI och spelkänslan.

Vad sägs om måndag? Jag ska prata med Cajsa efter lunch, ska vi ta ett snack omkring då?

[2014-08-23 08:34] filwi opened #100 "Bug: fontäner kommer inte tillbaka"
Jag har börjat märka att fontäner inte kommer tillbaka, åtminstone så syns de inte på min klient. Det gäller fontäner som borde ha kommit tillbaka inom några dagar...

Fungerar på om vi inte ska sätta en tidpunkt då vi rensar allt och börjar om från början så att vi inte får buggar på grund av gammal data som ligger och skvalpar i databaserna, vad tror du?

[2014-08-23 09:26] melker commented on #97
Vi kan försöka måndag. Konsulterna börjar så vi får se hur det är...

[2014-08-23 11:27] melker commented on #85
Fixat buggar på sever. Förhoppningsvis är det löst nu.

[2014-08-23 11:27] #85 closed, assigned to melker

[2014-08-23 11:27] melker commented on #64
Fixat buggar på sever. Förhoppningsvis är det löst nu.

[2014-08-23 11:28] melker commented on #100
Fixat buggar på sever. Förhoppningsvis är det löst nu.

[2014-08-23 11:28] #100 closed, assigned to melker

[2014-08-23 11:42] melker commented on #68
Tillräckligt bra för 0.4-nivån. (Förutom bilder då)
Merge kommer men har inte lika hög prio.

[2014-08-23 18:54] melker commented on #98
Fixat i 0.4.80

[2014-08-23 18:54] #98 closed, assigned to nobody

[2014-08-23 20:35] melker commented on #94
Justerat lite i 0.4.82. Bara ökat avstånd. Kolla att ok.

[2014-08-24 07:43] melker opened #101 "Snabba på inloggningkoden"
Visaa delar av inloggningssekvensen pp server tar så lång tid att man får timeout på klienten

[2014-08-25 12:35] filwi commented on #94
Ser OK ut.

[2014-08-25 12:35] #94 closed, assigned to filwi

[2014-08-25 12:36] filwi opened #102 "Ser workers på fontäner som är mörkade"
Ser andras workers på fontäner som inte är inom radien för vilka fontäner jag ser, enl. diskussion. Förmodligen avrundnignsfel någonstans.

[2014-08-25 12:38] filwi opened #103 "GPS låser på fel ställe när man startar"
När man har flyttat sig så kan man fortfarande spela på det gamla stället medan GPS:n letar. Borde inte vara så, eller så borde den vänta på att man ska få en ny position.

Alternativt så borde den ta positionen från närmsta wifi/mobiltorn etc. och sedan låsa GPSn.

[2014-08-25 12:41] melker commented on #97
Avslag.

[2014-08-25 12:41] #97 closed, assigned to filwi

[2014-08-25 12:43] filwi opened #104 "Ny byggnad: Probe launcher"
Borde gå att se kartan där man själv inte är just nu. Därför behövs en ny byggnad, en probe launcher.

När man skickar iväg en probe så ska man kunna, under en viss begränsad tid, se den på kartan och se kartan såsom om man stod just där.

Uppgrade path:
# of Probes: startar med 1, bygger vidare med 1.

Recharge time: hur länge från det att man skickar iväg en probe tills den kan användas igen, st

[2014-08-25 12:45] filwi opened #105 "Gruppera 1000-tal och miljontal"
När man har mer än tre nollor i ett tal ska alla nollor grupperas i grupper om tre.
Exempel:
Fem miljoner skrivs: 5 000 000.
Trehundra tusen: 300 000

[2014-08-25 12:47] filwi opened #106 "Ny rad för "or wait X hours""
Lägga in en radbrytning i texten för "or wait X hours". På så sätt kan man ha först kostnaden och sedan tiden:
# red, # yellow, # blue

or wait ### hours

[2014-08-25 12:48] filwi opened #107 "Ordlista"
Skapa och hålla levande en ordlista för våra termer. Förmodligen en spreadsheet på GDrive

[2014-08-26 11:20] melker opened #108 "Kontakta spelare"
Jag har blivit kontaktad av en ny spelare men han dyker inte upp i listan över de att skicka meddelanden till. Backade ur och in igen utan effekt. (jobb-kontot)

[2014-08-26 11:34] melker commented on #108
När jag själv etablerade kontakt så dyker hen upp i listan.

[2014-08-26 11:37] melker commented on #108
Efter att ha tittat på hens worker (så den synkar namnet) så dök hen upp. Skumt... hen borde slås upp tidigare.. när msg visas eller så... eller när personer ska listas så borde hen slås upp första gången och visas den sndra i alla fall vilket inte skedde.

[2014-08-26 20:42] melker commented on #106
fixat i 0.4.84

[2014-08-26 20:42] #106 closed, assigned to melker

[2014-08-26 20:43] melker commented on #3
Alla inlagda i 0.4.84

[2014-08-27 04:09] melker commented on #101
Jag gjorde ju faktiskt en sak som kan ha påverkat dem alla. (ett index i databasen) för sedan dess har jag inte sett problemen med långsam inloggning från servern (bara dåligt nät)

[2014-08-27 04:09] #101 closed, assigned to melker

[2014-08-27 16:42] filwi opened #109 "Inte tillåta spel utan GPS-låsning"
Jag blir irriterad över att man har sin GPS pryl på gamla stället när man har flyttat sig. Som jag ser det är det två möjliga lösningar:
1. Vi tillåter inte att man spelar utan GPS-låsning. "You are here" och cirkeln finns helt enkelt inte tills man har fått en GPS låsning.
2. Vi gör två lookups, först en medium accuracy, som tar wifi, teletorn etc., sparar den positionen i var man är, och sedan k

[2014-08-27 16:44] filwi opened #110 "Öka återhämtningsfrekvensen med många spelare"
Idé: att man kollar på hur många spelare som finns i rutan (nu eller över en viss tid bakåt) när en fontän töms. Sedan delar man laddtiden med antalet spelare. Det gör att om det finns många spelare så blir det självreglerande, fontänerna kommer tillbaka redo att användas snabbare.

[2014-08-27 16:45] filwi opened #111 "Visa antal lediga portaler vid ikonen"
Det vore bra om man kunde se hur många lediga portaler man har. Mitt förslag: skriv det på eller bredvid ikonen i botten på kartan på samma sätt som för workers.

[2014-08-27 16:47] filwi opened #112 "Workers grafik"
Varianter som behövs:
- egen worker
- lagets worker
- annat lags worker
- annan spelares worker (som ej är med i något lag)
- okänd spelares worker (som man inte har kontakt med)

[2014-08-27 17:01] melker commented on #112
Justerar lite....

På karta: (med pipeline)
- Egen worker (i alla färger)
- Annans worker (i alla färger)
- Fler varianter?

I listan: (bara workern)
- Egen worker ( i alla färger)

erik.melkersson@gmail.com

[2014-08-27 19:35] melker commented on #110
Intressant tanke.... det borde gå att göra något av. Frågan är bara hur man
räknar "antalet spelare". Hur många som placerat en worker? .... och vad
som är "rutan"? Det finns ju en ruta för varje fontän och även för
potentiella där det inte är någon också...

[2014-08-27 19:38] melker commented on #109
En av de största saker som stör mig otroligt med Ingress är just att den
måste ha en fix position med någorlunda säkerhet innan man får göra något.
Så vill jag absolut INTE ha det i detta spel.

erik.melkersson@gmail.com

[2014-08-27 19:39] filwi commented on #110
Jag tänkte mig den minsta arean (den som vi har 64 x 64 av) som en ruta.
/F

On 2014-08-27 21:35, Erik Melkersson wrote:

##

Filip Wiltgren
Freelance Writer & Game Designer

+46 (0)73-577 45 91 | filip@wiltgren.com mailto:filip@wiltgren.com
Website http://www.wiltgren.com | Blog
http://boardgamegeek.com/blog/1183 | LinkedIn
http://www.linkedin.com/pub/filip-wiltgren/3/b9a/17b

[2014-08-27 19:39] filwi commented on #109
Vad sägs om lösning 2 då? Först köra en snabb medium accuracy fix, spara den i current position eller vad det hette, och sedan sätta på GPSn.

Eller finns det något sätt att använda den "stora" fixen och bara ta mitten på den så fort GPSn går igång? Det brukar vara hyffsat tillförlitligt. (Med stora fixen menar jag den stora cirkeln som dyker upp i google maps när man startar den innan den har lyc

[2014-08-27 19:45] melker commented on #109
Mja.... man bör nog även kolla på hur gammal "lastknownposition" är. Om den
är mindra än..... säg 5 minuter... så tar den den från GPS-en annars kan
den ta en från meduim accuracy (nätverk etc) eller gps, vilket den än får
först.

Här ute på landet kan jag hamna en halvmil fel om man har medium accuracy,
och den kan hoppa fram och tillbaka i den storleksordningen. Inne i staden
kanske det funkar b

[2014-08-27 20:26] melker commented on #5
Jag har inaktiverat så det inte händer något, sedan ett par versioner tillbaka.

[2014-08-27 20:33] melker commented on #105
Infört på kostnader. Kommer i nästa version som jag släpper.

[2014-08-27 20:33] #105 closed, assigned to melker

[2014-08-28 05:49] melker commented on #110
Implementationsförlag: En tekniskt mycket enklare variant är att vi loggar utplaceringar i form av:

vilken fontän,vilken spelare,tidpunkt

Denna tabell underhålls så alla poster äldre än en vecka(?) rensas.
Återhämtningstiden minskas ju fler spelare som har satt på den protalen under den tidsperioden.

Då "lönar" det sig att låta någon annan ta den portalen först ibland också, elle vara med.

Fot

[2014-08-28 05:56] melker commented on #9
Det behöver inte vara helfärdiga bilden men i alla fall skisser för hur man får dem begripliga.

[2014-08-28 06:02] melker commented on #6
Är det något av det här som höver fixas fortfarande?

Jag föreslår att vi tills vidare hårdkodar kostnader i både app/server för att komma vidare.... och skjuter punkten att kunna justera direkt lite på framtiden. Högre milestone.

Vi fortsätter använda modellen

Nmine_e^(level)
Nnear_e^(level-1)
Nother*e^(level-2)

För saker som ska sticka iväg i pris. T.ex. byggnader.

[2014-08-28 06:02] melker commented on #5
Har du någon tanke här?

[2014-08-28 14:05] melker commented on #102
Borde vara fixat i 0.4.87.... som kommer nästa släpp.

[2014-08-28 14:05] #102 closed, assigned to melker

[2014-08-28 14:07] melker commented on #89
Ska man placera ut scorers där?
Detta behöver vi diskutera juh!

[2014-08-31 06:05] melker opened #113 "Downgrade av upgrader påverkade portal gtw"
Den rensade nog i upgrade tabellen så det blev samma nivå alt det är fel i läsningen... att den går på upgraderns nivå.

[2014-09-02 14:06] filwi opened #114 "Fontäner och workers buggar"
Med lite testning verkar det som att fontänerna försvinner när de är tomma men de workers som finns på dem åker inte hem utan fortsätter att suga tills de är klara.

[2014-09-02 14:07] filwi commented on #64
Nopes finns fortfarande kvar. Inte lika vanligt dock, två gånger på sista veckan.

[2014-09-02 16:23] melker commented on #64
Om du lyckas placera en precis efter att den tagit slut så ska du få det.
Men de bör vara ovanliga.

[2014-09-04 07:09] filwi opened #115 "Bug: när man inte har GPS location och ingen gammal så går inte portalknappen till portalerna"
Som det låter. Om man inte har GPS locked och inte har en gammal position lagrad (jag startade om telefonen) så kan man inte komma till sina portaler via portalknappen.

Det borde funka så att om man inte har någon position så ska den gå igenom alla ens aktiva portaler i stället. Har man ingen position och inga portaler så bör inte knappen synas alls (eller ett varningsmeddelande om att man inte h

[2014-09-04 07:12] filwi opened #116 "Speeda upp starten?"
Tänkte på det som Daniel sa om att det inte finns något att göra i starten. Vad sägs om att man börjar med några workers och lite färg i ens egen färg? Säg 5-10 L1 workers + 30-50 färg? Det gör att man kan börja bygga extraworkers direkt, kan testa på att uppgradera saker direkt, kan göra massor med saker direkt i starten utan att behöva vänta på att ens workers kommer tillbaka.

Sedan borde man h

[2014-09-04 07:18] filwi commented on #64
Det måste vara något med i vilken ordning som vi kollar om workers placeras och om fontänen ska visas. Situationen just nu:

Fonten är synlig och tom (inga workers på den). Jag placerar workers. Efter någon/några workers så säger fontänen "fountain has dried out" och försvinner. De har inte gått någon tid än, så mina workers har inte börjat suga ur fontänen. De utplacerade workers visas som tomma

[2014-09-04 08:08] melker commented on #115
Hmmm jag har för mig att det funkade så när jag byggde funktionen... men
något kanske flippar ur i aktuell kod.
Den 4 sep 2014 09:09 skrev "Filip Wiltgren" notifications@github.com:

[2014-09-04 08:09] melker commented on #116
En portal har man redan från start.

[2014-09-04 08:12] melker commented on #116
Från samtalet: Det är inte bara i början det är dötid. Det är under hela
spelets gång.

[2014-09-05 19:17] melker commented on #113
Det var downgrade som tog bort för mycket ifrån db (på server)... åtg nu.

[2014-09-05 19:25] #113 closed, assigned to melker

[2014-09-05 19:28] melker commented on #64
Jag funderar på om det på något sätt kan bli så att den bara får extremt lite kvar i fontänen... på något sätt som antagligen är fel. Då beter den sig rätt närman börjar placera ut, för då spelar de sekundrarna roll för att "suga ur det sista".

[2014-09-05 19:30] melker commented on #64
Hittar dock inga i databasen med extremt lite kvar...

[2014-09-05 19:35] melker commented on #114
Hittade en bug som nog orsakade detta på servern. Fixade den buggen men det behöver testas nu.

[2014-09-05 19:42] melker commented on #114
Hmmm... buggen skulle nog kunna gett även fontäner som är nästan tomma, som jag nämner som möjlig felkälla i #64... testning härnäst.

[2014-09-06 20:36] melker commented on #69
0.4.92
Färg - fullt stöd.
Scorer parts och Scorers stöds i appen men inte på servern än.

[2014-09-06 20:52] melker commented on #69
Jag är inne på att vi har en tradingbyggnad som tänkt.

Denna styr hur ofta (och kanske hur mycket) man kan skicka något, och om man har en högre level så är "recharge"-tiden kortare. (Man kan skicka en viss mängd av EN sorts färg, eller EN scorer part, eller EN scorer)

T.ex börja på 12 timmar och halvera vid varje uppgradering.

Om spärr på hur mycket så är det på färgmängd jag kan tänka mig en

[2014-09-07 06:58] melker commented on #69
0.4.93
Stöd för scorer part och även för scorers inklusive hantering av dem.

Kvar: Kontroll att man har byggnad och tidsgränser på att skicka saker.

[2014-09-08 07:08] filwi opened #117 "Möjlig lösning på "slå samman scorer kuber" problemet"
Vad sägs om följande algoritm för scorers: Poäng = (2^level)-level.

Det funkar inte helt 100 för låga nivåer men blir bra sedan:

1
2
5
12
27
59
122
...

Ja, det blir snabbt mycket men det ska det kanske vara, eller?

Annars får vi inte ihop det med att Level+1 ska vara bättre än 2*Level.

[2014-09-08 07:30] melker commented on #69
Tidsgräns fixat på serversida. Anser tillräckligt just nu....
Ytterligare features på detta lägger vi på eget ärende.

[2014-09-08 07:30] #69 closed, assigned to melker

[2014-09-08 08:01] melker commented on #117
Mja.... den totalt dominerande faktorn är:
2^n
För nivå 8-saker: (vilket är fullt realisstiskt, nivå 9 kan nog vara det också)
Om man har dubblare i alla färger (realistiskt) får man då ca 64 tusen poäng.
Har man tripplare i alla (man kan byta till sig...) får man ca 8 miljoner poäng.

Man blir då fullständigt dominerande. Det blir för starkt....
å andra sidan så håller det bara en månad.

[2014-09-08 08:06] filwi commented on #117
Jag vet. Men annars ser jag ingen rimlig anledning till att slå samman kuber.

Alternativet är väl att vi styr med tillgången till racks och hur mycket utrymme man har i sin parts storage. Men det blir svårare att balansera.

[2014-09-08 08:09] melker commented on #117
2^n ger ju just den önskade effekten att det blir exakt samma poäng vid uppgradering pch något negativt baserat på nivån som gör att den blir mindra för lägre.... jag förstår hur du kom fram till just den formeln.

Vad är det som dy tycker är fel vid låga nivåer? (att man inte får börbättring från nivå 1 till 2?) I övrigt funkar det ju.

Äh, vi kör på det. :-)

[2014-09-08 08:24] melker commented on #117
inlagt på server och i kommande klient.
(är hemma med skadad fot idag)

[2014-09-08 08:24] #117 closed, assigned to nobody

[2014-09-08 10:07] melker commented on #68
Merge fixat. Inklusive byggnadsberoende.

[2014-09-08 11:33] melker commented on #114
Ytterligare fix eftersom det vara fel.
Inväntar att någon worker ska skickas hem...

[2014-09-08 11:49] melker commented on #114
Testat. NU fungerar det, till slut.

[2014-09-08 11:49] #114 closed, assigned to melker

[2014-09-08 12:09] melker commented on #64
Nu är #114 löst och jag vill se hur den beter sig efter det. Det kan ju fortfarande inträffa men det bör vara extremt ovanligt.

[2014-09-08 12:12] melker commented on #7
Todo:
Facility - "Team Headquarter". Krävs för att grunda lag.
Level på den byggnaden avgör hur många man kan ha med i laget (förutom sig själv)

Bara grundaren kan bjuda in folk.

[2014-09-08 12:20] melker commented on #7
I team-dialogen ska man få se:

Om man är med i ett lag:
- Namn och vilka som är med
- Möjlighet att gå ur laget (om man inte är grundare)

Om man är grundare till laget man är med i:
- Döp om, namn och förkortning
- Bjud in ny (om man har plats för det). Ska man kunna bjuda in fler än vad som finns platser? (De som svarar ja först kommer med...?)
- Kicka befinlig medlem (med extra kontrollfråga)

[2014-09-09 18:52] melker commented on #18
Jag tror det har nu blivit ett problem. Ger t.ex. negativa värden på workers....
Behöver tänka igenom detta.....

[2014-09-09 19:19] melker commented on #18
Jag har nu lagt en en låsmekanism som hindrar samtidig update av värden. Det borde göra att den inte ska ge negativa värden, Vi får väl avvakta och se...

[2014-09-09 20:00] melker commented on #104
Byggnaden kan nu byggas. 0.4.95
(dock inte uppgraderas eller användas än)

[2014-09-09 20:03] melker commented on #7
Man kan nu bygga team headquarter (men inte mer). 0.4.95

[2014-09-10 12:44] melker opened #118 "Neg värden på workers när de kommer åter"

[2014-09-10 19:19] melker commented on #18
Jag har lagt på låsmekanism... som jag lagt möda på att fixa fall så jag kunnat testa om den fungerar som tänkt., men kanske måste jag det.

#118 är kanske relaterad, men jag är inte säker. Det förkommer negativa även efter mitt försök med lås.

[2014-09-10 19:55] melker commented on #104
Jag föreslår, för att göra det teknisk enklare, att vi byter ut number of probles till probe range. Hur långt bort man kan placera den. (Det blir annars bök med att ha koll på återhämtningstid för flera olika probes vilket inte stöds av nuvarande datamodell.)

[2014-09-10 21:06] melker commented on #104
0.4.96
Byggnaden kan byggas, och upp- och nedgraderas. (enligt mitt ändrade förslag)

[2014-09-11 10:07] filwi commented on #104
Vad hindrar en från att placera massor med probes och bara scanna av hela området som man kan nå? Det skulle i så fall vara exakt samma som att se längre bort i den vanliga vyn förutom att spelaren måste klicka som en galning.

[2014-09-11 10:10] melker commented on #104
Va? Du kan bara placera en probe när byggnaden är "uppladdad".

[2014-09-11 11:16] filwi commented on #104
Jag uppfattade det att vi ersatte probes med range. Men om man bara kan kolla när den är uppladdad så är det bra. Men då får vi ha en kort laddtid, annars blir det bara tråkigt för spelaren.

Eller så kan man säga att återhämtningstiden börjar när man skickar iväg den första proben, oavsett när man skickar iväg de andra, så som för att bygga workers.

[2014-09-11 11:41] melker commented on #104
Nej nej nej. Min tanke:

Number of probes -> probe range

Dvs hur långt från min plats jag kan placera den. (Så man inte kan sätta
den på andra sidan jorden heller)

[2014-09-11 11:52] filwi commented on #104
Men man kan fortfarande bara sätta på ett ställe? Dvs, man kan inte "surfa runt" för att hitta något bra ställe att åka till utan bara chansa på att se ett ställe?

[2014-09-11 11:56] melker commented on #104
Ja. Jag uppfattade tanken så...

Eller tänkte du att man skulle kunna "surfa runt" under en viss tid? Skulle
också funka... funktionen är ju inte byggd än.

[2014-09-11 16:54] filwi opened #119 "Ändra ordning på Scorer parts"
Vore lättare att scanna med först Racks, sedan Transmitters (om vi ska ha dem), sedan Extenders i färgordning och sist kuber i färg och storleksordning (liten till stor i varje färg).

[2014-09-11 16:56] filwi commented on #119
Testa att ha en radbrytning mellan färgerna också, borde vara lättare att scrolla än att försöka scanna sig fram.

[2014-09-11 20:42] melker commented on #18
Test av låsmekanism verkar dessvärre ge att den inte funkar....

[2014-09-11 21:02] melker commented on #18
Nu kör de MySQL-variant med 5.5 med stöd för foreign keys och transactions, whoho!
Dags att fippla runt i db. Att köra update som en transaction borde lösa det. (Skulle dock kunna ge dubbla meddelanden när en transaktion får avbrytas... fast den borde fallera direkt på första skrivoperationen)

Dags att göra om tabeller.

[2014-09-12 07:12] filwi commented on #18
Funkar nix. Kolla 09:11 idag (fredag). Fick fountain has dried out och tre stycken workers med -0.8 Rubinium.

[2014-09-12 10:15] melker commented on #18
Öhhhh.... one.com har altså uppgraderat sin databas så att jag KAN använda de saker jag skriver om. Jag har inte gjort det än.

[2014-09-12 19:18] melker commented on #18
NU har jag lagt dit en transaktion på update-processen. Detta innebär just nu att i stället för att få en felaktig beräkning så borde någon av de inblandade i samtidiga anrop få ett felmeddelande: "Error syncronizing: nnnn".
Det vore intressant att se vad nnn blir.

Jag har även lagt dit lite foreign keys men det gör nog bara att vi sparar några mikrosekunder :-)

[2014-09-12 19:50] melker commented on #64
Hittade en annan spännade bug som jag förhoppningsvis justerat nu.
- Om någon vid tid A hade placerat en (eller flera) worker(s) på en fontän.
- Vid tid B placerar spelaren ut en worker. Då beräknas åtgången på fontänen från tid A för ALLA workers. (Vilket kan betyda att den säger att den är slut nu eller nyss, vilket även kan ge ett negativt värde på workers)
- Vid tid B+aningen till ska placera

[2014-09-12 20:03] melker commented on #118
Ett par bugfixar gjorda. Undersök om det kommer nu.

[2014-09-12 20:12] melker opened #120 "Max mängd scorer parts + scorers"
Ska begränsas till 20(?)
Kan uppgraderas med hjälp av byggnaden. (En fördubbling per uppgradering?)

[2014-09-13 12:55] melker opened #121 "Nytt utseende på crystal-behållare"
![screenshot_2014-09-13-14-51-10](https://cloud.githubusercontent.com/assets/2756680/4260608/3303958c-3b45-11e4-987b-4131c792f875.png)

Blir det bra?
Det är faktiskt en förenkling av koden....

[2014-09-13 13:13] melker commented on #121
Inlagt i 0.4.99 som kommer... så får vi se om det är några åsikter.

[2014-09-13 13:13] #121 closed, assigned to nobody

[2014-09-13 19:33] melker commented on #104
Vi kan göra det så här:

När man skickar en probe så hämtar klienten information om allt inom [probe range] från den punkt man just nu är på.
Man hamnar i "probe mode":
- man kan fritt scrolla runt på kartan
- man kan INTE interagera med saker på kartan utan bara se dem
- man får en nedräkning på hur långa tid man har kvar (som man kan avbryta i förtid om man vill), [probe duration]
  När den avsl

[2014-09-13 21:02] melker commented on #104
Till mig själv:
Nu finns det otestad kod på servern... den returnerar saker inom mycket större radie från användaren.
Den borde dock även skicka tillbaka någon markör om att byta till probe mode...

[2014-09-14 07:42] filwi commented on #120
20 känns lite. Jag är mer inne på att vi inte har en begränsning på delar utan att vi kör på begränsat antal racks i stället. Det skulle göra att man måste uppgradera.

[2014-09-14 07:59] melker commented on #120
Dvs: skrota den byggnaden alltså?

[2014-09-14 08:06] filwi commented on #120
Japp. Har för mig att vi redan pratat igenom det någon gång tidigare. Sedan kan vi ju ha en hard limit, säg några hundra parts, för att inte belasta databasen för mycket. Men det är upp till dig.

Eller vill du väldigt gärna ha en limit på parts med byggnad?

[2014-09-14 08:48] melker commented on #120
Nej, ingen sådan för min skull. :-)

[2014-09-14 13:46] melker opened #122 "Maxstorlek på bild i messagedialog"
Testa 100 dp eller så

[2014-09-15 05:49] melker opened #123 "Ide: Låta användarna döpa ytor"
Användarna vill kunna påverka spelet på något sätt (jmf skicka in egna protaler/bilder i ingress)

Man skulle kunna låta dem döpa ytor. (de mindre ytorna, kanske även mellannivån)

Jag inser naturligvis problemet med att folk kan skicka in fula ord etc på sina språk men det går nog att lösa på något sätt med att man t.ex. måste ha poäng i en yta för att kunna föreslå ett namn på den och någon form

[2014-09-15 06:13] filwi commented on #123
Ingen bra idé - vi saknar resurserna för att hålla något sådant igång och det skulle räcka med att en person spammar så förstör det för en massa folk.

[2014-09-15 17:24] melker opened #124 "Placera annans scorer ska ge poäng till den spelaren"
Man får den själv nu

[2014-09-15 18:26] filwi commented on #124
Det förklarar ett och annat.... ;)

[2014-09-15 19:31] melker commented on #124
Bugfix gjord. Behöver testas...

[2014-09-15 19:37] melker commented on #123
Mmmmm... man kan döpa dem för sig själv så man kan få koll på dem. Nu är det omöjligt att få någon koll på dem. Det måste ske på annat sätt... som att scrolla runt på kartan på något vis som diskuterats i #89
Stänger denna.

[2014-09-15 19:37] #123 closed, assigned to nobody

[2014-09-15 19:40] melker commented on #118
Jag har inte sett detta mer nu.
Jag är beredd att anse denna avslutat... i alla fall till motsatsen är bevisad (dvs att det dyker upp negativa värden igen)

[2014-09-15 19:40] #118 closed, assigned to melker

[2014-09-15 19:41] melker commented on #64
Har du fått detta fortsatt ganska ofta eller är det ovanligt att det dyker upp (vilket är korrekt)?

[2014-09-15 19:42] melker commented on #3
Fontänerna finns ju bilder för. Jag avslutar denna

[2014-09-15 19:42] #3 closed, assigned to filwi

[2014-09-15 19:45] melker commented on #71
Detta är ju löst. Avlutar.

[2014-09-15 19:45] #71 closed, assigned to melker

[2014-09-15 19:47] melker commented on #47
Jag anser denna löst. (Att visa gråade har sina för och nackdelar... tills vidare tycker jag det är bättre att inte visa dem, tills jag blir övertalad/bevisad om något annat :-) )

[2014-09-15 19:47] #47 closed, assigned to melker

[2014-09-15 19:49] melker opened #125 "Vid omflyttning av worker-uppgraderingar visas inte korrekta egenskaper"
Alltså när man drar och flyttarr om blannd dem så visar den inte vad det skulle bli för egenskaper då.

Restpunkt från #77

[2014-09-15 19:49] melker commented on #77
Detta fungerar ju idag.

Det är bara en liten bugg kvar men den lägger jag in separat

[2014-09-15 19:49] #77 closed, assigned to nobody

[2014-09-15 19:56] melker commented on #122
Bah... får nog byta till en custom-dialog i stället för den inbyggda. (Får ju iofs konsekvent utseende då i alla fall)

[2014-09-15 20:03] filwi commented on #64
Ovanligt, stänger detta. Vi får öppna om det återkommer.

[2014-09-15 20:10] melker commented on #115
Har justerat kod.... kommer i nästa version.

[2014-09-15 20:24] melker commented on #115
0.4.100
Testa gärna

[2014-09-15 20:25] melker commented on #104
Släpper ut en första version i 0.4.100
Notera att probe duration inte har någon effekt just nu... och så kanske vi ska ha det?
De andra två har det däremot.

[2014-09-16 07:08] #124 closed, assigned to melker

[2014-09-16 07:09] melker commented on #124
Bekräftat funkar

[2014-09-16 14:33] filwi commented on #64
Nopes, får det igen och på fontäner där ingen annan kan ha tagit ifrån.

Workers står inte kvar på en dried out fontän dock.

Lägg till lite info till felmeddelandet såsom fontännummer, fontänstatus, fyllnadsgrad, vad vet jag, så kan jag skriva med det i buggrapporten så kanske vi kommer fram till vad det är som händer.

[2014-09-16 14:34] filwi commented on #64
Förresten, kan det vara att klienten inte har uppdaterad information trots att den borde ha det? Kan man testa det på något sätt?

[2014-09-16 20:32] melker commented on #64
Nu kommer den dumpa ut info om fontänens egenskaper innan uppräkning och placering och även lite efter.... så får vi se vad jag kan dra för slutsatser av det.

Notera även om det var på "första" placeringen, "andra" eller kanske på tredje/fjärde.

[2014-09-17 17:53] melker commented on #5
Svar från FilWi: Bara lista workers i den färgen (som man klickade på).
Helst summering med fasta positioner för olika nivåer på workers. (dvs även om det inte är någotn Lvl 1 så ha en tom där)

[2014-09-17 17:56] melker commented on #104
Efter diskussion idag:
- När man startar en probe så kör man på som vanligt men ha en stor view range på användaren och en nedräkning på tiden. Allt övrigt är som vanligt. Mna kan klicka och placera etc (men med samma vilkor som vanligt då)
- Dra ner på range 1,2,3,4 etc km. Det blev för långt. Har man väl 2 km så var det inte intressant att utöka mer.
- Placera probe-knappen under "hoppa mellan g

[2014-09-17 18:21] melker commented on #89
Diskussion idag:
- Scorers placeras precis som idag.
- Vanliga kartan ska visa scoring-ytorna
- Fliken med scoring försvinner
- Rutan som visar placering uppe till vänster  på kartan ska visa placering i den ruta som är mitt på kartan.
- Aktuell ruta (dvs den som är mitt på kartan) ska markeras på något sätt så man ser för vilken aktuell position visas.
- Om man klickar på placeringsrutan så ska d

[2014-09-17 18:24] melker opened #126 "Utplacering av worker, visa dialogen även när gratis"
Dvs dialogen för vilken worker man vill välja.

I detta ingår att man ska kunna sätta en inställning för "Automatic worker select on free placement" (eller vad som nu är tydligt) så den funkar som nu.

Anledning: Nya ska begripa vad som händer och vana ska inte störas av det.

[2014-09-17 18:29] melker commented on #7
Beslut: Kör på enl min senaste notering.

[2014-09-17 18:31] melker commented on #6
Har du något mer att säga här eller kan vi släppa denna issue? (är lite rörig och inaktuell också....)

[2014-09-17 19:47] melker commented on #122
Fixat i 0.4.101

[2014-09-17 19:47] #122 closed, assigned to melker

[2014-09-17 19:49] melker commented on #18
Själva updateprocessen borde vara trådsäkrad nu. (andra problem med dried out har eget ärende)
Stänger just detta ärende.

[2014-09-17 19:49] #18 closed, assigned to melker

[2014-09-18 07:14] filwi commented on #126
Inställningen bör heta: Fast worker placement
Om det inte är iklickat (standard från början) ska det stå "Short-press shows worker placement dialogue"
Om det är iklickat bör det stå "Short-press places lowest level eligeble worker, long-press shows worker placement dialogue."

[2014-09-18 07:15] filwi commented on #6
Vi släpper den så länge. Kör på med viktigare saker så ställer vi in kostnader när vi har grunden färdig; funkar ju ok nu.

[2014-09-18 07:15] #6 closed, assigned to filwi

[2014-09-18 20:31] melker commented on #104
0.4.102
När man nu kör en probe så utökar den visible range runt användaren under den specificerade tiden. (1, 2, 3... minuter). Inga andra special-modes eller liknande.

Kvar:
- Dra ner på range 1,2,3,4 etc km. Det blev för långt. Har man väl 2 km så var det inte intressant att utöka mer.
- Placera probe-knappen under "hoppa mellan gates"-knappen.
- Klocka som räknar ner hur långt det är kvar

[2014-09-19 19:00] melker commented on #104
0.4.103
- Range justerad till: 1500m, 2000m, 2500m etc (man har ju 1000 ändå)
- Probe-knappen flyttad

Klockan hamnar som rest i eget issue då det är något som strular med den....

[2014-09-19 19:00] #104 closed, assigned to melker

[2014-09-19 19:02] melker opened #127 "Visa nedräkningsklocka för probing"
Någonstans ska den räkna ner hur länge det är kvar på probing. När tiden är slut ska den uppdatera userViewRange till vanliga värdet.

Restpiunkt från #104

[2014-09-19 20:28] melker commented on #126
Fixat i 0.4.103. Tog en fast text i stället. (den växlar inte)

[2014-09-19 20:28] #126 closed, assigned to melker

[2014-09-20 18:53] melker commented on #89
Fundering för att göra det enklare och mindre kladdigt.
- Visa BARA den score area som mitten av kartan är i, på lämplig(a) nivå(er).

Borde väl räcka långt?

[2014-09-20 19:54] melker commented on #89
Förslag:
- Att visa score-area och rank hänger ihop i inställningen
- När man bygger/skickar(?) sin första scorer ändras den inställningen från av (startläge) till på (med infoo om att så skett)

[2014-09-20 20:32] melker commented on #89
0.4.104
- Inställning för att visa score areas på kartan.
- Visar den aktuella scoring-arean som är mitt i bild.

Min tanke är att det är tillräckligt bra och dessutom prestanda/bloatmässigt bra. Förutom utvecklarmässigt mycket bra.

Med den anser jag punkten: "Vanliga kartan ska visa scoring-ytorna" löst.

[2014-09-21 13:04] melker commented on #89
0.4.105
När man klickar på rank-vyn så får man upp dialog med scoring-lista för just den ytan
(OBS rank-vyn visas fortfarande för där man faktiskt är, inte var kartan är centrerad)

[2014-09-22 13:08] filwi opened #128 "Bug: kartan börjar hacka när man zoomar ut"
NÄr man zoomar ut börjar kartan hacka kraftigt, allting står och velar och hänger sig i några sekunder, sedan hackar den till ny position, hänger sig igen. Går att replicera, verkar inte vara något annat än att man zoomat ut.

[2014-09-22 13:09] filwi opened #129 "Visa alla scoring rutor på kartan."
Vore bra om scoring-rutorna alltid var inskrivna på kartan, inte bara där man står eller tittar just då. Man kan markera rutan man tittar på men man bör alltid se alla så man vet var gränserna går.

[2014-09-22 15:20] melker commented on #89
0.4.106
Nu visar rank.vyn rank i den markerade ytan (dvs mitt på kartan)

[2014-09-22 19:55] melker commented on #128
Duplikat av #99. På just zooma ut blir det extra tydligt. (under vissa förutsättningar)

[2014-09-22 19:55] #128 closed, assigned to nobody

[2014-09-22 19:55] melker commented on #99
T.ex. zooma ut ger ju exakt samma beteende men blir extra tydligt (om man har en beräkning på den innersta som sedan ska göras om för varje hack i utzoomningen).

[2014-09-22 20:18] melker opened #130 "Lista spelare på positioner runt spelaren i scoringlistor"
Dvs om spelaren ligger långt ner så ska hen ändå få se de närmast ovanför och kanske även under för att veta hur mycket hen måste göra för att avancera/tappa.

[2014-09-22 20:18] melker commented on #89
0.4.107
Fliken bortplockad.

Att lista de omkring spelarens rank får bli senare... restpunkt när det blir aktuellt. #130

[2014-09-22 20:18] #89 closed, assigned to melker

[2014-09-22 20:28] melker opened #131 "Slå automatiskt på att visa rank/scorer-ytor när man bytt sin första scorer"
I samband med detta så ska det även komma upp en info-text.

Detta betyder att det måste lagras om kontrollen har gett utslag och aktiverats. (man kan ju senare vilja slå av den och då ska den inte dyka upp på nytt)
Om inte gjord så ska den triggas när man bygger en scorer.

[2014-09-23 18:13] melker opened #132 "Settings ska appliceras direkt när man satt dem"
Inför en metod onSettingsChange som anropas när man sparat inställningar. Den ska direkt applicera de egenskaper man satt på den aktuella Fragment-et

[2014-09-24 06:46] melker commented on #115
Fix confirmed

[2014-09-25 20:17] melker commented on #7
0.4.108
Påbörjat.

[2014-09-26 13:07] filwi opened #133 "Ska man kunna placera transmitters inom sin radie?"
Jag funderar på om man inte ska kunna placera scorers inom sin radie. Vi har ju konceptet "laid back GPS game" där vi inte ska pusha för att springa runt som en galning utan spela lite när man kan och vill. Att behöva springa runt för scorers är lite udda.

Och så får man en anledning till att ställa ut många scorers (vilket är kul) när man kan kolla flera olika ställen att sätta dem på och välja.

[2014-09-26 13:08] filwi commented on #115
Verkar funka vad jag kan se. Stänga?

[2014-09-26 13:09] filwi commented on #64
Verkar funka bra nu, har inte fått upp det på över en vecka. Stänger.

[2014-09-26 13:09] #64 closed, assigned to filwi

[2014-09-26 13:11] #115 closed, assigned to filwi

[2014-09-26 19:24] melker commented on #133
Jag skulle kunna tänka mig att man kan få göra det.... men jag minskar prio.

[2014-09-26 20:52] melker commented on #7
Fixat även Kick member.

Kvar:
- Create team (Den som finns funkar men det ska finnas även abbreviation och den ska kolla att namnet och abbr är unikt)
- Edit team (samma koll som i skapa)
- Disband team
- Inte visa inbjudningsknappen eller inaktivera om man har maxantal, visa förklarande text då i stället. Eller visa den texten när man klickar och att den kollar då... vilket som är enklast.

[2014-09-27 17:38] melker commented on #7
Create/Edit/Dispand fixade.

Kvar:
Create/Edit - ska kolla krockande namn (server)
Accept ska kolla så det finns platser kvar. (server)
Lågprio:
Invite ska kolla så det finns platser kvar. (klient)

[2014-09-27 19:26] melker commented on #7
Klientdelar släppta i 0.4.109

[2014-09-27 19:47] melker commented on #7
Fixat på server. Stänger denna.

[2014-09-27 19:47] #7 closed, assigned to melker

[2014-09-27 20:37] melker commented on #112
0.4.110
Testade att lägga en pipe på befintliga workers i några varianter Lite olika på olika färger.

[2014-09-28 04:57] melker commented on #103
Stänger till förmån för #109

[2014-09-28 04:57] #103 closed, assigned to melker

[2014-09-28 05:10] melker commented on #109
Min tanke just nu är att:

[code]

Hur låter det?

[2014-09-28 11:57] filwi commented on #109
Låter som att det skulle funka bra. Tuta och kör!

[2014-09-28 19:50] melker commented on #109
0.4.111
Ändrat hur den lyssnar på vilken position man har.
Den använder GPS-ens position om den inte är äldre än 5 minuter. Sedan lyssnar den både på "nätverksposition" och gps-position. Den tar den som kommer först och placerar ut markören, sedna kommer ju fler psoitioner efterhand. Finns det en giltig gps-position som inte är äldre än 5 minuter har den alltid företräde före en nätverksposition.﻿

[2014-09-28 20:10] melker commented on #93
Fråga: Är det när du haft den igång. Sedan gjort något annat. Vänntat en tid och sedan startar appen på nytt. Eller vad är den "gamla"?

[2014-09-29 07:09] filwi commented on #93
Svårt att återskapa. Verkar vara i samma typer av fall som när jag inte ser någon karta alls.

[2014-10-01 18:36] melker opened #134 "Uppgifter/bilder till android market"
Uppgifter och bilder som ska visas på Android market. På engelska då...

Texter:

Titel: Color Planet (max 30 tecken)

Kort beskrivning: (max 80 tecken)

Fullständig beskrivning: (max 4000 tecken)

Bilder:
2-8 skrämdumpar. (jag har lagt upp två, varav en är urgammal, för det var tvingade)

Högupplöst ikon: (512x512, png, kan ha alpha) (Använder just nu bilden du gjorde)

Funktionsbild (1024x500, p

[2014-10-01 18:44] melker commented on #120
Bortplockad i 0.4.112. (Bara i appen, hade ingen effekt på servern än.)

[2014-10-01 18:44] #120 closed, assigned to nobody

[2014-10-01 19:31] melker commented on #73
Fixat i 0.4.112.. fast inte att de egna hamnade först insåg jag nu.

[2014-10-01 19:38] melker commented on #73
0.4.113 De egna ska visas först. Inte testat men jag utgår från att det blev rätt...

[2014-10-01 19:38] #73 closed, assigned to melker

[2014-10-02 05:22] melker commented on #56
Den använder nu abbreviation i stället i individuella scoring-listor. (fixat på server)

[2014-10-02 05:22] #56 closed, assigned to melker

[2014-10-02 05:24] melker commented on #24
Kvar på detta är
- grafisk presentation av en annan spelares scorer
- lagra statistik att man placerat någon annan spelares scorer

[2014-10-02 05:30] melker commented on #24
Statistik fixad. Då är det bara kvar hur någon annans scorer ska visas när man hanterar den.

[2014-10-02 05:58] melker commented on #111
Fixat i 0.4.114

[2014-10-02 05:58] #111 closed, assigned to melker

[2014-10-02 21:20] melker commented on #75
0.4.115
Jag har nu fixas så den är lite "sticky" vid kanten på hur långt ut den får placeras. Det kanske är tillräckligt och det man egentligen vill ha.

[2014-10-06 14:43] melker commented on #21
Nu när jag har en maskin så skulle jag kunna köra min mot befintliga medna användarna får flyttas till nya maskinen....

[2014-10-06 15:03] melker commented on #21
Lägg in setting i appen: "Developer mode". Då går den mot min egna bakände.

[2014-10-06 19:40] melker commented on #86
0.4.116
Fixat i listan över meddelanden.

[2014-10-06 19:40] #86 closed, assigned to melker

[2014-10-07 04:09] melker commented on #129
Jag har funderat en del på hur man kan få något att göra på kartan. Vi kan nog kombinera det med denna.
- En alltid synlig knapp på kartan för att snabbt växla mellan gathering och scoring på kartan. Detta för att inte kladda ner kartan och dessutom prestanda.
- Gathering är som idag (ev ta bort scoringrutan och ranking).
- Scoring visar alla rutor (men inte en massa andra saker, worker, fontäner,

[2014-10-07 04:12] melker commented on #74
0.4.116
Ändrat till:
Tidsstämpel - Namn:
(dvs den visar inte team än)

[2014-10-07 04:47] melker commented on #99
Undersök om det är bättre att bara visa det som syns på aktuell kartvy eller om det är bättre att låta alla synliga workers/portaler finnas på kartan även om de inte visas (som nu).

Fundera på att ändra worker listan med placed workers ska vara en HashMap<FontänId, List<ColorWorker>> så man utgår helt och hållet från fontänerna vid visning.

[2014-10-10 04:13] melker opened #135 "Mindre textstorlek på crystal counters"
När man har över 10000 av någon sort så klipper den texten i min telefon.

Se till att texen som ska skrivas ut får plats, annars minska storlek tills den får plats.

[2014-10-10 04:15] melker opened #136 "Uppdatera pos"
Efter min ändring av hur den får pos så uppdateras pos inte efter att den väl fått en pos. (Om man går ur och in igen så är den uppdat). Troligen fel i kollen av om nya pos angivelser ska användas.

[2014-10-10 04:16] melker commented on #129
Detta är påbörjat i senast släppta version

[2014-10-10 06:06] melker commented on #129
Lägg utritning av rutor i bakgrundstråd så det inte låser ui.

Not: fixar smooth... men gör det med score areas först. Innan jag ger mig på fontäner.

[2014-10-10 19:59] melker commented on #99
Tester för att lösa detta och att den "fryser" (så man inte kan fortsätta flytta) när det blir mycket att rita ut finns i 0.4.118.

Testerna görs bara på score areas.
För att testa: Dvs scrolla ut så inte portaler syns. Slå på score areas. Scrolla runt och zooma ut och in. (inte så mycket att portaler syns då...)

[2014-10-11 05:52] melker commented on #136
Jag hade vänt på ett villkor så den bara accepterade gamla tider på platsangivelser. :-/
Enkelt åtgärdat. ">" => "<"

[2014-10-11 05:55] melker commented on #136
Fixat i 0.4.119

[2014-10-11 05:55] #136 closed, assigned to melker

[2014-10-11 06:47] melker commented on #135
Fixat i 0.4.120

[2014-10-11 06:47] #135 closed, assigned to melker

[2014-10-11 13:50] filwi commented on #136
Visst är det kul när sådant händer ,)

[2014-10-11 21:19] melker commented on #21
Settings inlagd... men används inte.

[2014-10-12 21:10] melker opened #137 "Fixa autoupdate på nya maskinen"
T.ex.:
http://www.howtoforge.com/how-to-configure-automatic-updates-on-debian-wheezy

[2014-10-12 21:17] melker opened #138 "Cron-jobb som beräknar om score, statistik etc"
Förslag: Köra var 6:e minut?
Eller splitta score-uppdateringar och köra dem oftare men bara göra statistik var 6:e.... fast det kanske blir missvisande...
Gör även sync för att skicka hem workers etc.

Score:
Bara göra beräkningarna.

Statistik: (ideer)
Steg 1:
- Uppdatera bästa värde på placeringar, liten, mellan, stor, värld, lag, eget lag.
- Hur många små/mellan/stora ytor man kontrollerar (är

[2014-10-13 19:57] melker commented on #21
Fixat.

[2014-10-13 19:57] #21 closed, assigned to melker

[2014-10-13 20:47] melker commented on #137
Fixat

[2014-10-13 20:47] #137 closed, assigned to melker

[2014-10-13 20:49] melker commented on #72
Det finns ett litet problem med detta....
Säg att du placerar worker lvl 1 på en fontän
Sedan level 3 på samma. Sedan meddelar den att den misslyckades med llv1-placeringen... och lvl3 gick igenom. Då kan du inte placera lvl1...

[2014-10-13 20:51] melker commented on #36
Inaktuell

[2014-10-13 20:51] #36 closed, assigned to nobody

[2014-10-13 20:53] melker commented on #58
Alternativ tanke för att inte bloat-a. Long press på knappen går till user pos?

[2014-10-13 21:00] melker opened #139 "Använd Google Cloud Messaging for Android för att skicka ut meddelanden"
Dvs låt cronjobb uppdatera #138 och skicka sedan ut meddelan med Google Cloud Messaging
https://developer.android.com/google/gcm/index.html

I stället för min egna bakgrundssak.

[2014-10-14 06:53] filwi commented on #72
Min tanke är att det inte gör något. Man kommer inte att ragequitta över en sådan sak, men det kan man göra om man måste vänta och vänta mellan varje worker.

[2014-10-14 06:55] filwi commented on #58
Låter bra.

[2014-10-14 07:08] filwi opened #140 "Text på color mängd för stor"
Problem sedan ändringen, går inte att se hela texten:
![screenshot_2014-10-14-09-06-31](https://cloud.githubusercontent.com/assets/8066290/4625089/dac551c8-5370-11e4-9b82-2d50eaae26a9.png)

[2014-10-14 07:12] melker commented on #140
Version?
Den 14 okt 2014 09:08 skrev "Filip Wiltgren" notifications@github.com:

[2014-10-14 07:26] filwi commented on #140
0.4.121

[2014-10-14 07:29] filwi opened #141 "Spara information för fontäner/rutor under längre tid"
Märker att när jag scrollar runt i utzoomat läge så verkar den tappa bort att den har ritat ut rutorna en gång och ritar om dem när jag scrollar tillbaka. Om man skulle kunna sparat det så skulle det kanske inte behöva ladda så mycket och inte heller rita om. Vad tror du?

[2014-10-14 08:01] melker commented on #141
Kort svar: De måste plockas bort för att inte krasha hela appen.

Det finns bibliotek där man kan ställa om så de inte visas i stället... men
jag vet inte hur det går med minnet i dem och det är en hel del jobba att
införa ett sådant så det får avvakta.

erik.melkersson@gmail.com

[2014-10-14 19:44] melker commented on #141
För övrigt "ladda" gör den inte när du scrollar runt. Ingen nätverkskommunikation för det. Den ladda allt du får se varje gång du laddar något och så automatgenererar den resten. Däremot så ska den visa det grafisk. Det är vad som tar tid.... tror jag. Jag har ju faktiskt inte testat det.

Det man skulle kunna göra är att bygga upp saker för mer utzoomat för den mångden saker. T.ex. om du zoomar u

[2014-10-14 19:57] filwi commented on #141
Vad skulle hända om vi började bygga upp sådana områden i bakgrunden medan spelaren gör annat? Då skulle man aldrig märka av laggen. Eller vad tror du?

Förresten, ska vi visa alla fontäner där man inte kan se dem ens eller ska vi bara ha en markör för "här har du den här fontäntypen" (dvs huvudtyp för den platsen). Då skulle man inte behöva rita ut så många fontäner, om jag räknat rätt så skulle

[2014-10-14 20:19] melker commented on #141
Mycket intressant tanke. Prestandatänket i mig gillar det. :-)
Har du bra förslag på hur vi ska visa färgen på ett område. Tonat "moln" av
en viss färg?
Vad säger storyn om att det är klungor av viss färg här och där?
Något som passar med det?

[2014-10-14 20:21] melker commented on #138
Har nu ett cronjobb som gör update på workers/fontäner en gång per minut. (Så man undviker att den behöver göra en massa när man ska logga in/göra en action)

[2014-10-14 20:25] filwi commented on #141
Färgat moln låter som en bra tanke. Bara man kommer ihåg att slå av det när man ska visa scoring ;)

Vi kan säga att alla fontäner läcker färg, därför kan man se den och harvesta den.

[2014-10-15 20:19] melker commented on #140
Fixat i 0.4.122
Beräknar storlek på annat sätt.... och kompenserar för långa tal.

[2014-10-15 20:19] #140 closed, assigned to melker

[2014-10-15 20:25] melker commented on #141
Det jag var entusiastisk över var "molnen" i stället för skuggade fontäner...

Att rita upp för en större yta än den som visas görs ju i viss mån redan så det kan vi göra mer konsekvent. Dvs vi ritar upp för vår maxutzooming när de ska visas. Är man redan på den zoom-nivån så får man ingen nytta av det.

Lägger även in en referens till #99 eftersom det handlar om ungefär samma saker.

[2014-10-16 21:00] melker commented on #138
Var 6:e minut räknas score om... och det är bara i den den räknas om.

[2014-10-19 05:10] melker commented on #138
Nu minns den maxvärde på hur många ytor, på olika nivå, som man kontrollerar, dvs är nummer 1 i.

[2014-10-19 05:25] melker commented on #138
Nu minns den högsta rank man haft i någon typ av område (oavsett vilket av områdena av den typen)

[2014-10-19 05:25] melker commented on #138
Se #8

[2014-10-19 05:26] melker commented on #138
Cron-jobbet finns. Stänger detta ärende.

[2014-10-19 05:26] #138 closed, assigned to melker

[2014-10-19 05:48] melker commented on #99
TODO:
- Flytta ut uppdateringen av fontäner till UpdateMapTask
  *\* Visa antingen score-areas eller fontäner/workers
- Beräkna och sätt ut fontänter/scoreareas för en större yta än den som visas. (förbered för scroll)
- Visa moln i stället för de som inte syns

[2014-10-21 11:22] melker commented on #99
Min test buggar: Den lämnar fontäner kvar på kartan när man har rört sig.

[2014-10-21 11:34] filwi opened #142 "Ändra tillbaka till level^2 för Scorers"
Funkar inte med den här. Bättre att köra Level^2 för hur mycket poäng man får för en scorer.

[2014-10-21 11:36] filwi opened #143 "Ändra färg för Spelarnamn till svart"
Svårt att se gula spelare, bättre att ha svart färg för alla namn och sedan eventuellt ha deras färg som en ikon efteråt. Så formatet blir [Team förkortning inom hakparanteser] Namn IKON

[2014-10-21 11:40] melker commented on #142
Fixat på server. (sitter på tåget t Arlanda)

[2014-10-21 11:40] melker commented on #142
Klienten ska fortfarande justeras....

[2014-10-21 11:42] melker commented on #142
Fixat i klient... kommer med nästa version.

[2014-10-21 11:42] #142 closed, assigned to melker

[2014-10-21 11:43] melker commented on #143
Det går ju att lägga en ljus variant som bakgrundfärg... eller att den tonar in bkgr från en sådan färg till vit/svart.

[2014-10-21 12:09] melker commented on #99
Släpper ut delar i 0.4.123

Kvar:
- "Moln"
- Hantera workers på samma sätt, tillsammans med fontänerna

[2014-10-21 12:10] melker commented on #142
Fixat i 0.4.123 som nu är släppt.

[2014-10-21 12:12] melker commented on #141
Grundiden: Bytt upp för en större yta en den som visas är fixad i 0.4.123. Stänger denna. (molnen separat)

[2014-10-21 12:12] #141 closed, assigned to nobody

[2014-10-21 12:15] melker commented on #75
Kommentar på detta?

[2014-10-21 12:27] melker commented on #58
Long press fixat. Kommer i kommande 0.4.124

[2014-10-21 12:27] #58 closed, assigned to nobody

[2014-10-21 12:28] melker commented on #27
Jag kan tänka mig att släppa detta. Nu tycker jag det känns som en del av spelet. Man kan sitta och fippla ut dem för att optimera sin utplacering.

[2014-10-21 12:29] melker commented on #27
Din åsikt?

[2014-10-21 12:51] filwi commented on #27
Vi släpper det. Helt OK att använda portaler för att förlänga sin range tycker jag.

[2014-10-21 12:51] #27 closed, assigned to filwi

[2014-10-21 12:53] filwi commented on #75
Det funkar fint, stänger den här.

[2014-10-21 12:53] #75 closed, assigned to filwi

[2014-10-21 12:55] filwi commented on #143
Skulle tro att det blir snyggare med samma färg på alla och en ikon. Vill man ha olika färger så är det snarare färg på laget som är viktigt så att man ser vilket lag som regerar, snarare än vilken färg som regerar.

[2014-10-21 13:20] melker commented on #99
Fixade i 0.4.124 så att den börjar populera kartan på platsen man scrollar till när man hoppar mellan portaler. Jag upplever en liten seghet i scrollen först men sakerna är på plats när man kommer dit. Sammanfattningsvis så tycker jag det blev lite bättre.

[2014-10-21 14:38] filwi opened #144 "Feature: ladda max antal workers på en fontän"
Det borde finnas en inställning till "fast worker setup" där man med ett klick kan lägga upp alla workers som man kan på en fontän. Det är inte kul att klicka och klicka.

[2014-10-21 15:37] melker commented on #84
Fixat i kommande

[2014-10-21 15:37] #84 closed, assigned to melker

[2014-10-21 15:43] melker commented on #144
Om #72 löses så tycker jag att denna faller.

[2014-10-22 05:58] melker commented on #129
Kvar:
Fixa så det fungerar igen: Markera ytan som är i fokus och uppdatera rank-rutan när man scrollar.

[2014-10-25 20:03] melker opened #145 "Man ska inte kunna placera ut workers i score mode på kartan"
Dvs när man visar score areas.

[2014-10-25 21:25] melker commented on #99
0.4.125
Workers placeras på samma sätt som fontäner.

Kvar:
- Visa "moln"

[2014-10-26 20:25] melker commented on #129
Rank-rutan uppdateras som den ska igen.

Kvar: Markera rutan som är mitt i... på något bra sätt.

[2014-10-26 20:27] melker commented on #28
Detta ska gälla även när man är inzoomad.... för de delar som man inte ser.
Från #99

[2014-10-26 20:28] melker commented on #99
Moln hanteras i #28

[2014-10-26 20:28] #99 closed, assigned to melker

[2014-10-26 20:29] melker commented on #28
Jag har lagt in cloud-bilder i appen, för att kuna testa med. (visas dock ej än)

[2014-10-26 20:41] melker commented on #145
Fixat i kommande 0.4.127

[2014-10-26 20:41] #145 closed, assigned to melker

[2014-10-28 09:41] melker opened #146 "Första skapa kontodialogen funkar ej"
Man får inte ange något namn. Man kommer inte förbi den.

[2014-10-31 10:26] melker opened #147 "Bug när man zoomar in m Scorearea"
Om den borde växla från större t mibdre ytor gör den aldrig kollen eftersom den redan fixat för ytan. Borde vara samma problem m fountains (rapporterat på 10000 m höjd)

[2014-11-07 15:28] melker opened #148 "Offline mode"
Kunna spela även där man inte har nät men har det inom rimligt avstånd.

Dvs man ska kunna gå runt i turistort och sedan gå in på restaurang/pub och synka. Placera workers och scorers. Workers blir ju då i mån av att de har ngt.

Man måste synka inom viss tid. En timme eller så och det räknas från synktiden och framåt.

[2014-11-07 17:00] filwi commented on #148
Varför en timme? Antingen kan man spela offline eller inte. Bättre att man kan spela och när den synkar så kollas det om det går att placera ut. Om så, great, annars åker workers tillbaka med oförrättat värv. Och så börjar man räkna färg från syntaxen, inte offline placeringstiden.

On 7 November 2014 16:28:43 CET, Erik Melkersson notifications@github.com wrote:

##

Sent from my Android device wi

[2014-11-09 19:46] melker commented on #146
Test i 0.4.128....

[2014-11-10 16:15] #146 closed, assigned to melker

[2014-11-15 22:41] melker commented on #72
Jag störde mig själv på detta. Nu har jag släppt en första version av det.
0.4.129
Det finns säkert buggar i den....

[2014-11-16 06:12] melker commented on #144
Stänger denna då #72 är påbörjad.

[2014-11-16 06:12] #144 closed, assigned to melker

[2014-11-16 06:41] melker commented on #129
Jag har tänkt lite på denna igen.
Räcker det inte med att:
- Man visar aktuell ruta (som man är i)
- Man visar rutan mitt i bild (kan sammanfalla med den ovan)
- Man visar alla som man tagit poäng i, med färg på.

Detta gör att man kan zooma ut mer och ändå visa rutor.

[2014-11-16 19:32] filwi commented on #129
Det man behöver är veta var gränserna mellan rutorna går. Annars kan man inte veta vart man ska åka för att placera scorer.

Men kunde man inte rita in linjerna i stället? Det är väl ritandet som tar tid, när de väl är där så tar det inte mera tid. Så om man ritar in alla linjer (säg 100 X 100 linjer = 10 000 rutor) så behöver man inte rita in mera, eller?

[2014-11-16 20:30] melker commented on #129
Jo, jag övervägde en sådan plan först... men sedan övergav jag den för enkeltheten i nuvarande sätt. Vilken även löste att visa var man fått poäng. Går att fundera på den igen kanske....

Men vad är syftet med att trycka ut alla? Varför är det så intressant att se _alla_ gränser när du skrollat till del av kartan än där du är? Räcker det inte med just den delen du visar, det borde väl var den som

[2014-11-16 21:06] melker commented on #147
Fixat i 0.4.130

[2014-11-16 21:06] #147 closed, assigned to melker

[2014-11-16 21:13] melker commented on #65
Notering: Reset finns redan, fast inte helt självklar.... om man klickar på rack-et som är först så tar man bort allt.

[2014-11-17 22:04] melker commented on #72
Lite fixade buggar som gör att den hanterar t.ex. nätverksfel i 0.4.131

[2014-11-18 17:03] melker opened #149 "Notification när man ändrar plats på rankinglistan"
Inställningsbart... på något vis.

För att trigga folk.

[2014-11-18 17:09] melker opened #150 "Uppdrag (Missions -> Objectives)"
Man får efter hand uppdrag att lösa. Detta kan vara ett sätt att sätta sig in i spelet och senare att behålla några även om rankingen i sig är avlägsen då.

Senare t.ex dominera X antal rutor (brevid?). Ha poäng i 2, 3, ... stora rutor.

Man kan ha flera uppdrag aktiva.

Man får någon form av bonus. Lite kristaller eller t.es en Rack när man omvandlar sin första worker till scorer parts.

Vad sägs

[2014-11-18 17:54] filwi commented on #150
Idén är bra. Till efter betatesten?

[2014-11-18 18:09] melker commented on #72
Fixat en null pointer exception i 0.4.131. Kommer nästa version
Fortsätt skicka in krasher.

[2014-11-18 22:17] melker commented on #139
Whoho!
Jag har kunnast skicka meddelanden på detta viset som visas som notifiering.
Fortsätt med serverdel....

[2014-11-19 21:00] melker commented on #139
Inlagt att klienterna nu ska registrera sig själva vid inloggning så jag ska kunna skicka meddelanden till dem.

[2014-11-19 21:01] melker commented on #139
Denna behövs för att öka interaktiviteten, därför till 0.5 i stället.

[2014-11-20 08:43] melker opened #151 "Schanders workers egenskaper är i osynk kolla upp det"

[2014-11-20 08:44] melker opened #152 "Transformera färg. Se siffran över linjen"
Lägg siffran över linjen så man inte skymmer den med sitt finger.

[2014-11-22 20:51] melker commented on #83
Jag har nu bytt till att notifieringen visar hur många idle workers och hur mycket färg man har , sammanlagt.

[2014-11-22 20:51] #83 closed, assigned to melker

[2014-11-22 20:51] melker commented on #139
Fixat.

[2014-11-22 20:51] #139 closed, assigned to melker

[2014-11-22 20:53] melker commented on #108
Det vara en felaktig sökväg som gjorde att hen inte slogs upp. Åtgärdat i 0.4.137

[2014-11-22 20:53] #108 closed, assigned to melker

[2014-11-25 21:19] melker commented on #151
Antagligen en missuppfattning

[2014-11-25 21:19] #151 closed, assigned to melker

[2014-11-26 20:51] melker commented on #149
Fixat för world rank.

Det behövs en setting (som kommer till servern) för att kunna slå på/av denna.

[2014-11-29 12:33] melker commented on #150
Olika uppdrag man får en liten bonus på alla och man behöver ej ta den i ordning men den visar bara en eller ett fåtal ej klarade. Man får info inför hur man gör och lite om vad det ger och efter mer specifikt vad det ger.

Bygg en worker (en till i bonus alt färg så man kan bygga en till direkt)

Placera en worker

Uppgradera producer till nivå 2

Transformera färg

Bygg en byggnad så man kan gör

[2014-11-29 12:36] melker commented on #150
Merge worker

Merge scorer part

[2014-11-29 12:40] melker commented on #150
Klienten håller bara en lista på vilka texer som inkommit och möjlighet att se dem.

När det kommer en ny så ska den dialogen komma upp. I den kan man även fälla ut och se gamla och andra aktuella.

Servern har koll på vilka saker man klaratvav och kollar i samband med att man gör en action och loggar och skickar med ny text tillbaka till klienten.

Notering: man måste kunna visa bilder i texterna

[2014-11-29 12:46] melker opened #153 "Väntetid för ny worker. 5 min ggr antal workers"
I st f 15. För att få snabbare start för nya spelare.

[2014-12-04 21:51] melker commented on #150
Jag har nu byggt in missions. Med syfte att lära nya spelare hur man spelar.
Jag har en fungerande logik och har lagt upp 5 missions. (de blir ju lite lustiga för oss som redan har gjort en massa saker, redan innan de är införda)
1. skapa worker
2. placera worker
3. uppgradera producer
4. transformera kristaller
5. bygg en worker transformer
- Det finns info (texter och bilder) som visas före och

[2014-12-06 21:08] melker commented on #131
Inaktuell...

[2014-12-06 21:08] #131 closed, assigned to nobody

[2014-12-10 20:46] melker commented on #150
Det finns "objectives" för de grundläggande stegen för att komma fram till att skicka hem scorers och även dominera ytor.

Det är långt ifrån självinstruerande när man spelar men jag anser ändå denna issue som avklarad. Textändringar och nya missions etc får hamna separat.

[2014-12-10 20:46] #150 closed, assigned to melker

[2014-12-18 06:31] melker commented on #72
Funkar skapligt. Stänger ärendet och så får ev buggar hanteras efterhand.

[2014-12-18 06:31] #72 closed, assigned to melker

[2014-12-21 21:27] #152 closed, assigned to melker

[2014-12-21 21:27] melker commented on #152
fixat

[2015-01-03 06:08] melker commented on #95
Objectives ersätter denna.

[2015-01-03 06:08] #95 closed, assigned to filwi

[2015-01-03 06:08] melker commented on #93
Borde funka nu. 0.4.168

[2015-01-03 06:09] melker commented on #2
Har blivit abstrakta.

[2015-01-03 06:09] #2 closed, assigned to filwi

[2015-01-03 06:10] melker commented on #112
Det finns ju bilder och man ka se dem. Ned-prioriterar denna.

[2015-01-03 06:16] melker commented on #107
Påbörjan på http://colorplanet.lysator.liu.se/wiki/index.php/Main_Page

[2015-01-03 06:16] #107 closed, assigned to filwi

[2015-01-03 06:17] melker commented on #109
Den använder nu för tiden googles standardförlag på hur man kan lyssna på position och jag upplever att den fungerar bra, liksom ett par testanvändare gör. Jag stänger därför detta.

[2015-01-03 06:17] #109 closed, assigned to nobody

[2015-01-03 06:24] melker opened #154 "Använd https för alla anrop"
Fixa cert på servern och ändra i adressen

[2015-01-03 06:25] melker opened #155 "Ta bort password/email/session från databas och serverkod"
dvs rensa efter inloggningsbyte

[2015-01-03 06:26] melker opened #156 "Skapa och kontroller token för inloggning"
Appen ska skapa vid "inloggning" och servern ska kontrollera och ev ha cachad lista för att godkänna dem.

[2015-01-03 06:29] melker opened #157 "Spara när en spelare senast gjorde något"
Sätt lastlogin - dvs när de senast gjorde något för att kunna ha koll på om någon avnändare blir inaktiv.

[2015-01-03 06:30] melker opened #158 "När jag växlar mellan score area och fontäner så rensar den inte färgen på de ytor jag kontrollerar ordentligt"
Detta gör att jag får mer och mer färg på den...

[2015-01-03 06:34] melker opened #159 "Fast place worker - set at cost limit"
The user may set a cost limit in the settings for Fast place worker
Fast placing workers cheaper than the limit will be done.

[2015-01-03 06:57] melker opened #160 "Bigger text area in enter chat text"
So that the full text of a message can be seen and edited.
Also place it so it works with the keyboard that appear and the submit-button shall be visible in some way or something on the keyboard to send it.

[2015-01-03 06:58] melker opened #161 "Select amount dialog, press and hold plus or minus"
Press and hold + or - shall increase or decrease the number

[2015-01-03 07:01] melker opened #162 "Remove invalid receivers from the notifications list"
The GCM -servers replies in a special way when a unit is invalid.
Handle those and remove them from the list of receivers.

[2015-01-03 07:05] melker opened #163 "Follow me-mode on the map"
Follow the users position until the map is scolled or changed to view a portal.
Enter follow-me-mode when the my post/portal-button is clicked so that it shows the user pos.

[2015-01-03 07:07] melker opened #164 "Automatic backup copy of server (code and database)"

[2015-01-03 07:11] melker opened #165 "Handle viewed/not viewed objectives on the server"
In order to not make them show up on multiple devices or all when changing unit.

The server sends a id-list of messages not displayed.
The app, create list of viewed messages. In the next request to the server submit those.
The server then marks those as viewed.

[2015-01-03 07:16] melker opened #166 "Change back stack to only map. Back leads to map, not workers/facilities/scorers"
When shifting from facilities to workers to scorers to facilities etc.

Keep only the map in the back stack. Remove the others.

I.e. when pressing back you close any eventual dialog or get to the map or exit when on the map.

This eliminates the problem with not updated fragments in the back stack.

[2015-01-03 07:17] melker opened #167 "Fix layout of show objects-dialog (Shown in Claim treasure and transform worker to scorer parts)"
The numbers of mass is below the boxes and overlap.

Set and use a common size of the "box" showing data for scorer parts and mass and all listables.

[2015-01-03 07:22] melker opened #168 "Load userdata (name and color) when connection is established"
I.e. do not wait until the name shall be shown, as today.

[2015-01-03 07:23] melker opened #169 "Use settings for chat/messages in the small view too"
Use the show system messages or not setting in the small chat view that is always shown too.

[2015-01-03 07:25] melker opened #170 "When getting a notification and the app is on, update the messages/chat window"
In some way... by loading or by using the message.

[2015-01-03 07:26] melker opened #171 "Treasure - Show when near enough"
Show it in some way...

[2015-01-03 21:39] melker commented on #93
Äh, jag stänger. Är inte riktigt likadant längre.

[2015-01-03 21:39] #93 closed, assigned to filwi

[2015-01-03 21:40] melker commented on #158
Verkar inträffa vid rotation...

[2015-01-03 22:23] melker commented on #164
Jag gör db-dump dagligen nu i alla fall. Läggs under ~melker/backup/
Ligger i min cron.
Övra jobb ligger nu i roots cron. De bör flyttas till min.

[2015-01-04 22:18] melker opened #172 "Show fountains and workers where I have workers, even if not in sight"
I.ex. the view range of worker is the fountain and the workers on it.
This is already handled on the server, show it in the app as well.

[2015-01-05 08:29] melker opened #173 "Turn my location-marker into ground overlay to avoid click capture"
And to increase visibilty on other stuff

[2015-01-05 10:06] PeterSkov88 opened #174 "workers places beside fountain when fast placing"
As showen below, fixed after remap:

https://docs.google.com/file/d/0Byy14aOOUYy9QnNndGNZb0NLYTA/edit?usp=docslist_api

[2015-01-06 05:45] melker commented on #173
Fixed in 0.4.170

[2015-01-06 05:45] #173 closed, assigned to melker

[2015-01-06 22:07] melker commented on #158
Kan inte återskapa det nu bara för det....

[2015-01-07 17:48] melker opened #175 "Give/recieve as user notification/message"

[2015-01-07 21:50] melker commented on #119
Sakerna är nu färguppdelade, 0.4.172 med bryt mellan dem (det behövs sorteras om lite till för bättre översiktighet men...)

[2015-01-07 21:50] #119 closed, assigned to nobody

[2015-01-07 21:52] melker commented on #8
Det sparas en massa statistik. Det är en annan grej att göra något med den.

[2015-01-07 21:52] #8 closed, assigned to melker

[2015-01-08 05:32] melker commented on #175
Giving worker action a separate id to be able to filter them away...

[2015-01-08 18:32] melker commented on #163
How to differ user/programming movement:
https://code.google.com/p/gmaps-api-issues/issues/detail?id=4636#c21

[2015-01-08 21:42] melker commented on #163
On long press. Only press on the button disables it.

[2015-01-08 21:42] #163 closed, assigned to melker

[2015-01-08 21:46] #160 closed, assigned to melker

[2015-01-09 05:41] melker opened #176 "Empty fountain"
When makimg a big move (my location) the map is sometimes drawn before empty fountains has got data.

[2015-01-09 21:14] melker commented on #172
0.4.174

[2015-01-09 21:14] #172 closed, assigned to melker

[2015-01-09 21:15] melker commented on #171
Target mode show when near enough.

[2015-01-09 21:15] #171 closed, assigned to melker

[2015-01-09 21:16] #155 closed, assigned to melker

[2015-01-09 21:18] melker commented on #166
fixed

[2015-01-09 21:18] #166 closed, assigned to melker

[2015-01-09 21:22] melker commented on #25
Görs redan i form av objectives

[2015-01-09 21:22] #25 closed, assigned to nobody

[2015-01-09 21:24] melker commented on #16
Har inga lösenord nu längre.

[2015-01-10 06:18] melker opened #177 "Darker screen"
Black background or have the ability to use a dark theme....

In order to play when its dark outside. It differs to much to look outside and on the screen.

[2015-01-10 06:23] melker opened #178 "Invite other players"
The ability for a user to invite other players.
Get a link to google play and a code to the clipboard and let the user paste it in whatever the user want too.

When the new user start the app they may (or must?) enter a code.
They then get an instant contact with the one who invited them.

[2015-01-11 06:07] melker commented on #178
Ha en dela-knapp (3 punkter m streck)
som skapar ett text-intent.
http://developer.android.com/training/sharing/send.html

[2015-01-11 06:56] melker commented on #178
What i left is:
- Better share, use built in intent
- Show dialog when getting more invites with info on where to find them

And then
- Give users invites, sometime

[2015-01-11 15:17] melker commented on #178
Fixat både på klient och serversida. Ute för test.
Det är bara en fundering... när ska man få möjlighet att bjuda in folk. Man ska ju ha kommit en bit. Men det får bli något eget.

[2015-01-11 15:17] #178 closed, assigned to melker

[2015-01-12 06:49] melker commented on #176
Hopefully solved

[2015-01-12 06:49] #176 closed, assigned to melker

[2015-01-12 06:58] #175 closed, assigned to melker

[2015-01-12 12:36] melker commented on #159
Fixed in 0.4.179

[2015-01-12 12:36] #159 closed, assigned to melker

[2015-01-12 18:51] melker commented on #143
Har bytt till ikon plus svart text i 0.4.179... Notera dock att i message-dialogen så borde inte listan visas normalt utan komma upp först vid behov. Dvs när man vill lägga till mottagare i ett meddelande.

[2015-01-12 18:51] #143 closed, assigned to melker

[2015-01-12 18:55] melker opened #179 "Message dialog, show user list only when adding recipients to a message"
Show a "+Recipient" button or something above the keyboard. Together with send...

Also a contect menu when entering @... would be nice too.

Idea: To add people to the "short list" use long press on them... or something or put user handling in a separate view.

[2015-01-12 20:06] melker commented on #169
Fixed in 0.4.179

[2015-01-12 20:06] #169 closed, assigned to melker

[2015-01-12 20:32] melker commented on #43
Inaktuell. Stänger den.

[2015-01-12 20:32] #43 closed, assigned to melker

[2015-01-12 20:34] melker commented on #29
Delvis fixat. T.ex. på idle workers visas Modulate även om man inte kan göra dem nu.

[2015-01-12 20:42] melker commented on #158
Har inte stött på det mer och jag har inte sett några klagomål på det. Stänger.

[2015-01-16 05:58] melker opened #180 "Some recipient does't work to send messages to"
Gurglet may not send messages to me:
https://plus.google.com/u/0/+GustafHansen/posts/8mTrr5QJjQe

It says not recipients despite one is clicked.
Other players work.

[2015-01-19 17:41] melker opened #181 "Make transmitter-mounting more "intuitive""
https://plus.google.com/u/0/+GustafHansen/posts/Nfat8tkrc7z

[2015-01-19 17:49] gurglet commented on #154
Kan rekommendera startssl.com. Där kan man få gratis cert som funkar i alla mainstream browsers och på Android och iPhone (har inte testat andra OS).

[2015-01-19 20:42] PeterSkov88 opened #182 "meddelanden i konstig ordning"
![screenshot_2015-01-19-21-32-29](https://cloud.githubusercontent.com/assets/10399121/5807478/fcd914fc-a023-11e4-9fc8-02a5df3625ff.png)

[2015-01-19 22:02] melker opened #183 "Re-read info about other players"
They might change color etc.
Have a timeout on the cache and make a full reload. Daily?

[2015-01-19 22:18] melker commented on #154
Jag kan fixa Terena-certifikat på lysator, där servern ligger. LiU har ju
det genom Sunet. Jobbar med personen som kan godkänna på
lysator.liu.se-nivån. Själv har jag bara rätt att godkänna på liu.se-nivån
:-)

Men tack för tipset.

[2015-01-20 22:07] melker commented on #182
Är det fortfarande så eller har den återställt sig och visar dem bara en gång?

[2015-01-21 21:35] melker commented on #180
Most likely a currupt user table... could no longer recreate as the client was reset.

[2015-01-21 21:35] #180 closed, assigned to melker

[2015-01-21 21:36] melker commented on #167
0.4.187

[2015-01-21 21:36] #167 closed, assigned to melker

[2015-01-22 18:15] melker commented on #154
Cert finns på servern.... ska justera i appen.

[2015-01-22 18:42] melker commented on #154
Fixed in coming version.

[2015-01-22 18:42] #154 closed, assigned to melker

[2015-01-23 06:21] melker opened #184 "It's to easy to remove portal/Pull back worker by misstake - maybe button on the right, not the whole row"
User may press the whore row by misstake when placing workers.

[2015-01-23 08:35] gurglet commented on #154
:shipit:

[2015-01-25 15:36] PeterSkov88 opened #185 "Många scorerdelar (10+) ger rörigt gul."
![screenshot_2015-01-25-16-32-54](https://cloud.githubusercontent.com/assets/10399121/5891972/0bfcc40c-a4b0-11e4-8e93-84c46e10fd09.png)
Se 13x den tillhör 5 gul men svårt att se är närmare 4 gul.

[2015-01-25 21:42] melker commented on #179
Partly fixed.
+Recipient exist and works

[2015-01-25 21:43] melker commented on #11
#all och #team finns nu. Stänger detta

[2015-01-25 21:43] #11 closed, assigned to melker

[2015-01-26 20:46] melker opened #186 "More objectives"
There is targets for ruling areas Other types should be available too.

Some ideas:
- Built all facilities
- All facilities at, at least, level N (1,2,3,4...)
- Harvest form the same fountain N times, 30, 100, 300, 1000 (Must be placed at least a certain time or something...)
- Unique fountains harvested from (100, 200, 500, 1000, 2000, ...)
- Number of crystals collected 100, 300, 1000, 3000, 100

[2015-01-26 20:47] melker commented on #186
- Items transmitted to other players

[2015-01-26 21:18] melker opened #187 "Statistics view in the app"
Show available statistics somewhere in the app

[2015-01-27 20:42] melker commented on #179
Long press: Add/remove in short list is working.

Context menu when entering @... is another issue. If wanted by users.

[2015-01-27 20:42] #179 closed, assigned to nobody

[2015-01-27 21:05] melker commented on #181
Info on click placeholders exist now.

[2015-01-27 21:05] #181 closed, assigned to melker

[2015-01-27 21:07] melker opened #188 "Show what the upgrade gives on Treasure Finder and Proble Launcher"
The others show the values that an upgrade gives from X to Y (time, amount whatever)

[2015-01-29 05:45] melker commented on #182
Det dyker upp då och då, under tiden man spelar och beror på att två anrop har använt samma tid och både får meddelandena. Bugfix (förhoppningsvis) kommer i nästa version 0.4.192

[2015-01-30 21:15] melker commented on #182
Det dyker upp då och då, under tiden man spelar och beror på att två anrop har använt samma tid och både får meddelandena. Bugfix (förhoppningsvis) kommer i nästa version 0.4.192

[2015-01-30 21:15] #182 closed, assigned to nobody

[2015-01-30 21:37] melker commented on #186
Text in app prepared for "All facilities at, at least, level N (1,2,3,4...)"

[2015-01-30 21:41] melker opened #189 ""Free" trade within team"
As long as you have the "home gate" you may transmit objects to members of your team no matter what recharge time says. It does not affect recharge time.

[2015-01-31 06:12] melker commented on #188
Fixat i kommande 0.4.193

[2015-01-31 06:12] #188 closed, assigned to melker

[2015-01-31 06:33] melker opened #190 "Change worker-harvest stat to when the worker is full och when the fountain runs out"
... instead of when placing

In order to remove "cheating" when making the future objective unique fountains and number of time on the same fountain.

[2015-01-31 22:24] melker commented on #186
Prepared for unique fountains, same fountain and facility level on both app and client.
TODO: connect with right dependency in db and activate code on server in updatestat.php

[2015-02-01 19:46] melker opened #191 "Blocking Syncing-dialog after resume (sometimes...)"
Sometimes when resuming the Sync-dialog is never removed... or just one of them if multiple are shown?

[2015-02-01 19:59] melker commented on #186
Activated.

[2015-02-01 20:00] melker commented on #190
Done.

[2015-02-01 20:00] #190 closed, assigned to melker

[2015-02-01 20:02] melker commented on #110
Min ide är redan implementerad.

[2015-02-01 20:02] #110 closed, assigned to nobody

[2015-02-01 20:41] melker commented on #191
Test not showing a blocking dialog on synch CPActivity.onResume if secondsSinceLoad is high (just a toast) but invalidate fountains also...

[2015-02-01 20:47] melker opened #192 "Bug: Snabbt tryck på nästa portal-knappen innan den hunnut scrolla dit kraschar appen"
Men utan felmeddelande i LogCat?????

[2015-02-01 21:00] maggu commented on #186
Perhaps received crystals and transferred crystals as well?

[2015-02-02 05:50] melker commented on #158
Kunde återskapas och är förhoppningsvis löst i kommande 0.4.196

[2015-02-02 06:51] melker commented on #192
Det var nog slut på minne i min telefon (allt krachade.... en omboot hjälpte det. Avslutar ärendet.

[2015-02-02 06:51] #192 closed, assigned to nobody

[2015-02-02 06:57] melker commented on #184
https://plus.google.com/u/0/+MagnusGustavsson/posts/8VK78p2S6ig?cfem=1

[2015-02-02 09:45] melker commented on #68
Avslutar denna. Inför nya issues om det finns specifika saker som ska fixat med transmitter mounting.

[2015-02-02 09:45] #68 closed, assigned to melker

[2015-02-02 09:48] melker commented on #184
Jag lade på en ConfirmDialog på abandon portal. Det får räcka just nu.
Kommer i 0.4.197

[2015-02-02 09:48] #184 closed, assigned to melker

[2015-02-02 09:58] melker commented on #129
Justering av denna issue:
- Markera "aktiv" yta (dvs den som poängen visas för)
- Kunna visa lista för ytor inom rimligt avstånd alt på alla ytor (laddar on demand)
- Cacha scoring-data fram till nästa poängberäkningstidpunkt (då slängs allt)

[2015-02-03 05:32] melker opened #193 "Show how far an objective has gone"
Method in ColorMission that gets a value (or two, current and target) showing the progress of the objective.

[2015-02-04 09:59] melker commented on #161
The user is able to enter the number him/herself in 0.4.199. Ignoring this issue.

[2015-02-04 09:59] #161 closed, assigned to melker

[2015-02-04 10:00] melker commented on #193
0.4.198 (or a little less?)

[2015-02-04 10:00] #193 closed, assigned to nobody

[2015-02-04 10:00] melker commented on #187
The is one now.

[2015-02-04 10:00] #187 closed, assigned to melker

[2015-02-04 21:10] melker commented on #158
Är inte löst... klicka många ggr på växla-knappen och det triggas.
Se även https://plus.google.com/u/0/+JonasPetersson/posts/4XVy92hKwKu?cfem=1

[2015-02-05 11:58] melker opened #194 "Add black/white shadow on level text on workers etc to improve readability"
Example:
http://stackoverflow.com/questions/2486936/android-shadow-on-text

[2015-02-05 13:01] melker commented on #165
0.4.200

[2015-02-05 13:01] #165 closed, assigned to melker

[2015-02-05 21:44] melker commented on #194
0.4.201

[2015-02-05 21:44] #194 closed, assigned to nobody

[2015-02-10 22:31] melker commented on #13
Ersatt av #66

[2015-02-10 22:31] #13 closed, assigned to nobody

[2015-02-10 22:34] melker commented on #66
Har preppat appen för procent-bunusar och en mixer.
Har även fixat beräkning i appen,

Nästa steg:
- Lägg in objekten i serverns konstanter
- Fixa beräkning på server
- Släpp ut dem i skatter (minska något annat där) (i 10-50%s varianter)

Avsluta därefter detta ärende.

[2015-02-11 05:02] melker commented on #66
Fixat på server.

Kvar:
- Släpp ut dem i skatter och annat

[2015-02-12 21:00] #66 closed, assigned to nobody

[2015-02-13 20:57] melker commented on #189
Done

[2015-02-13 20:57] #189 closed, assigned to nobody

[2015-02-14 05:53] melker opened #195 "Show scoring for the focused area, not matter if I have scorers there or not"
Also: Cache score score in client, with time limit for the next count. I.e the server must include time for how long it is valid.

Related: #129

[2015-02-15 20:51] melker opened #196 "Vid skatt/worker-omvandling"
Garantera alltid någonting som man får...
Så man inte behöver få tomt.

[2015-02-15 22:03] melker commented on #195
Noteringar till mig själv:
- Fokus på vald yta... bara den.
- Visa score history igen... var tog den vägen?

[2015-02-15 22:39] melker commented on #195
score hist, återställd.

TODO

 Markers aktiv yta med färg/ruta/
hårkors med pil/streck från rutan?

Kolla kod, driftsätt.

[2015-02-16 20:54] #196 closed, assigned to nobody

[2015-02-16 20:55] #129 closed, assigned to melker

[2015-02-16 20:55] melker commented on #129
0.4.207

[2015-02-16 20:55] melker commented on #195
0.4.207

[2015-02-16 20:55] #195 closed, assigned to melker

[2015-02-16 20:56] melker commented on #134
Har fixat en del....

[2015-02-16 20:56] #134 closed, assigned to filwi

[2015-02-16 21:00] melker commented on #153
Fixat.

[2015-02-16 21:00] #153 closed, assigned to nobody

[2015-02-18 16:45] melker opened #197 "Show score graph for other players too."
Parallelt med mina staplar kunde SUMMAN av alla andra visas (rimligen med normerad skala) visas, så man får lite känsla för vad som händer.﻿

/Jonas Petersson

Vad som är "andra" borde då förstås vara beroende av valt område etc.﻿

Egen notering:
Det är altså själva grafens data som då skulle kunna visas snittet för alla personer för aktuell yta. (antingen för alla eller exklusive en själv, beroen

[2015-02-18 16:53] melker opened #198 "Man ska bara kunna ha EN extender av varje färg, inte en 2:a och en 3:a"

[2015-02-18 22:33] melker commented on #198
Försök till spärr på server påbörjad... men funkade inte.

[2015-02-19 20:27] melker opened #199 "List of idle workers/portals/scorers below map not in sync with what I may place"
Happens sometimes, unsure when.

[2015-02-19 21:14] melker commented on #198
Fixat på server.

[2015-02-19 21:43] melker commented on #198
0.4.210

[2015-02-19 21:43] #198 closed, assigned to melker

[2015-02-27 21:07] melker commented on #191
Seems to be gone.

[2015-02-27 21:07] #191 closed, assigned to nobody

[2015-03-01 06:50] melker commented on #158
Helt omgjort. Borde funka nu.

[2015-03-01 06:56] melker opened #200 "Monuments for team"
Lagen samlar ju nu ihop "credit" för alla scorers som lagmedlemmar placerar. (Ackumuleras med tiden, räknar ej bonuspoängen utan bara de faktiskt placerade)

Min tanke är att man för dessa credits ska kunna bygga ett "monument" (annat namn?) som ger fördelar för lagmedlemmar. Första monumentet av en typ kostar 10'000 credits och andra 20', tredje 40' etc så det dubblas. (så man inte ska kunna få f

[2015-03-01 06:59] melker commented on #200
Finns i db.

[2015-03-01 19:26] PeterSkov88 opened #201 "Spawn worker: nedräkning startar om."
Jag hade 11 sekunder kvar enligt nedräknaren och valde då att byta mellan kartan och worker tab och såg att tiden minskade, men sedan när den skulle varit 0 så blev den 59 sekunder, så jag fortsatte vänta och det hände igen. När den skulle gått ner till 0 blev den 59 igen.
Dock väntar jag till meddelandet kommer så fungerar det.

[2015-03-01 20:22] melker commented on #201
Hittade omedelbart felet. Hade du väntat till slutet en tredje gång hade det blivit dags. Har justerat koden för kkommande versioner.

[2015-03-01 20:22] #201 closed, assigned to nobody

[2015-03-01 21:50] melker commented on #200
Serverkod för att skapa och lista dem finns.

[2015-03-02 20:44] melker commented on #200
Serverdelar finns på plats.

[2015-03-04 12:11] melker commented on #200
Finns och funkar i klient.

[2015-03-04 12:11] #200 closed, assigned to nobody

[2015-03-04 17:18] melker commented on #116
Jag har ju minskat reload-tiden för spawner till 5 minuter per workers. Det snabbar upp starten.

[2015-03-04 17:18] #116 closed, assigned to nobody

[2015-03-04 17:19] melker opened #202 "Meddelande/Notification när någon placerar transmitter i samma yta/worker på samma fontän"
Inställning för att (inte)få meddelanden och (inte) få notifications på dessa

[2015-03-04 17:37] melker commented on #16
Kör även krypterat...

[2015-03-04 17:37] #16 closed, assigned to melker

[2015-03-04 18:08] melker commented on #12
För oklart... men det finns ju ytor man dominerar.

[2015-03-04 18:08] #12 closed, assigned to nobody

[2015-03-04 19:21] melker commented on #174
Händer inte längre.

[2015-03-04 19:21] #174 closed, assigned to melker

[2015-03-04 21:10] melker commented on #202
transmitter i samma yta ger nu meddelande.

[2015-03-04 21:10] melker commented on #202
TODO: Inställningsmöjlighet om notification.
(skippar worker på samma fontän så länge)

[2015-03-04 21:12] melker commented on #28
Jag är nog inne på att strunta i denna så ingen verkar sakna det, utan det känns rimligt som det är.

[2015-03-04 22:36] PeterSkov88 commented on #174
Provade probe och fick se väldigt lite.

Mvh
  Peter

[2015-03-05 20:29] melker commented on #174
Probe borde lagts in som en egen ny bug. Den är i alla fall fixas.

[2015-03-06 06:54] melker commented on #162
Fixat.

[2015-03-06 06:54] #162 closed, assigned to melker

[2015-03-06 11:14] #158 closed, assigned to melker

[2015-03-06 12:17] melker commented on #185
Fixat i kommande.

[2015-03-06 12:17] #185 closed, assigned to nobody

[2015-03-06 12:18] melker commented on #186
Invite other players

[2015-03-12 20:38] melker commented on #127
Fixat i 0.4.222

[2015-03-12 20:38] #127 closed, assigned to melker

[2015-03-19 05:03] melker commented on #202
Fixat

[2015-03-19 05:03] #202 closed, assigned to melker

[2015-03-19 05:09] #157 closed, assigned to melker

[2015-03-19 05:29] melker commented on #186
Ideas not yet implemented:
- Top score at a moment, 100, 200, 500, 1000, 2000, 5000, 1000, ...
- Simultaneous workers placed, 50, 100, 200, 500, ...
- Distance between transmitters/workers?
- Items transmitted to other players
- received crystals and transferred crystals

(Invitations has been implemented too)

[2015-03-21 06:02] melker commented on #199
Maybe fixed?

[2015-03-21 06:03] melker commented on #38
Det finns ju monument... stänger denna oklara issue.

[2015-03-21 06:03] #38 closed, assigned to nobody

[2015-03-21 06:03] melker commented on #37
FInns lite.

[2015-03-21 06:03] #37 closed, assigned to nobody

[2015-03-21 06:04] melker commented on #31
Skippar detta. Inte värt insatsen.

[2015-03-21 06:04] #31 closed, assigned to nobody

[2015-03-21 06:05] melker commented on #28
Avslutar utan åtgärd. Vi gör inte så.

[2015-03-21 06:05] #28 closed, assigned to melker

[2015-03-21 09:30] #199 closed, assigned to melker

[2015-04-03 04:00] melker commented on #197
Fixat

[2015-04-03 04:00] #197 closed, assigned to nobody

[2015-04-05 15:28] melker opened #203 "Tell about score view and ranking after placing transmitter"
I ett objective

[2015-04-07 19:48] PeterSkov88 opened #204 "Kan skicka utan att ha home gate eller vara i team"
Kan vara ett arv efter mitt färgbyte eller att jag tidigare var i team med walterblue.

[2015-04-07 19:53] melker commented on #204
Jag får undersöka detta....

[2015-04-07 20:14] melker commented on #204
Just den buggen borde vara fixad på servern nu.... dock finns det en massa liknande :-/

[2015-04-07 20:14] #204 closed, assigned to nobody

[2015-04-29 19:51] melker commented on #203
Already done

[2015-04-29 19:51] #203 closed, assigned to melker

[2015-04-29 21:35] melker commented on #186
Preparing for top score mission...

[2015-05-01 12:22] melker commented on #186
Sum of all time placed transmitters ?

[2015-05-01 12:37] melker commented on #186
Top world score is stored
Max simultaneous workers placed is stored

App supports the missions.

TODO:
Add in mission-db
Add check in updatestat on server

[2015-05-01 13:25] PeterSkov88 opened #205 "kan inte skapa transmitter"
Försöker mount transmitter och får felet: Server error: Invalid transmitter part
Men den skapades i alla fall.
Se bilden.
![screenshot_2015-05-01-15-19-14](https://cloud.githubusercontent.com/assets/10399121/7430643/4895330c-f016-11e4-8dd2-1787570249b7.png)

[2015-05-01 16:36] melker commented on #205
Jag kan inte återskapa felet...

[2015-05-01 17:19] PeterSkov88 commented on #205
Uppdaterade till senaste, kollade förut men såg ingen ny version då. Nu
fungerar det.
Den 1 maj 2015 6:36 em skrev "Erik Melkersson" notifications@github.com:

[2015-05-01 18:12] melker commented on #205
Aha. Då får man nog det med GET i st f POST. Jag testade ju bara med senaste...

[2015-05-01 18:57] melker commented on #205
Hmmm... med det felmeddelandt så borde det vara så att det är en del som inte längre finns och den bygger inget.

Tillåt mig gissa hur det gick till:
Först försökte du montera den men fick att det var nätverksfel. (då skickade den anropet till servern men svaret kom bort)
Sedan försökte du montera den, men då fanns ju inte delarna kvar och då ska du få det meddelandet. (Det kanske borde formuleras

[2015-05-02 04:55] #205 closed, assigned to nobody

[2015-05-02 05:51] melker commented on #186
Db and updatestat prepared for top score and sim workers. Awaiting spread of new app version released this morning.

[2015-05-03 13:00] melker commented on #186
Released:
- Top world score is stored
- Max simultaneous workers placed is stored

To think about:
- Distance between transmitters/workers?
- Items transmitted to other players
- Received crystals and transferred crystals
- Sum of all time placed transmitters

[2015-05-29 10:13] melker opened #206 "Setting to keep the screen on"
For example http://stackoverflow.com/questions/5712849/how-do-i-keep-the-screen-on-in-my-app
Request from BiKtU

[2015-06-01 08:42] BiKtU opened #207 "refresh Button"
missing a refresh button :)

[2015-06-01 19:38] melker commented on #207
Already fixed. Coming in 0.4.246.

[2015-06-01 19:38] #207 closed, assigned to nobody

[2015-06-08 21:03] melker opened #208 "Button to send all workers home"

[2015-06-14 20:22] melker opened #209 "Apply restrictions to group of worker placed/to be placed on fountain"
Instead of just single worker being placed right now.

Note: This would eliminate the first workers placing failed-problem with fast place.

[2015-06-14 20:23] melker opened #210 "View worker/transmitter count on "it's" views"
Swedish:
Man kanske helt enkelt kan skriva "..." istället när det är fler än 99 av något? Har man så många är man troligen på KARTVYN inte så intresserad av exakt hur många det är.

Istället kan det väl finnas totalsummor under flik 3 (workers) respektive 4 (transmitters). Jag har någon gång dessutom irriterat mig på att behöva växla över till kartan för att på ett enkelt sätt se hur många gula ar

[2015-06-14 21:03] melker commented on #208
Implemented in 0.4.249

[2015-06-14 21:03] #208 closed, assigned to melker

[2015-06-15 20:47] melker commented on #210
I'm working on it. Testing in my phone now....

[2015-06-16 20:14] melker commented on #210
0.4.250

[2015-06-16 20:14] #210 closed, assigned to nobody

[2015-06-16 20:17] melker opened #211 "Mark workers on the map belonging to players that you don't have contact with yet"
In order to establish contact.

Embrace the social part of the game that exist...

[2015-06-17 16:47] melker opened #212 "sort trade offers by item for sale type"

[2015-06-17 17:55] #170 closed, assigned to melker

[2015-06-17 20:26] melker commented on #212
Fixat

[2015-06-17 20:26] #212 closed, assigned to nobody

[2015-06-17 20:27] melker commented on #209
Fixat

[2015-06-17 20:27] #209 closed, assigned to nobody

[2015-06-22 20:48] melker opened #213 "View other players profile"
rank/last active (in days resolution), and maybe more statistics.
I could also contain some kind of list/link of small  areas where the person has active transmitters (as this actually is already available).
You could get to the profile page through the contact list, the ranking list, or maybe the message list too.

The players last known position, in small area resolution, could also be interesti

[2015-06-23 18:40] melker commented on #29
Tillräckligt, stänger denna.

[2015-06-23 18:40] #29 closed, assigned to nobody

[2015-06-25 21:05] melker opened #214 "Använd "Close" på en massa dialogknappar"

[2015-06-25 21:08] melker commented on #54
De flesta kör fast place och då måste man aktivt göra två handlingar för att placera så man förlorar på den. Stänger

[2015-06-25 21:08] #54 closed, assigned to melker

[2015-06-28 05:25] #214 closed, assigned to nobody

[2015-06-28 05:25] melker opened #215 "Time limit trade offers"

[2015-06-28 05:26] melker opened #216 "Show/hide specific colors on the map"
https://plus.google.com/+BastianTaubald/posts/WE1S8oRw9vY

[2015-06-28 05:27] melker opened #217 "New sceen shots on google play"

[2015-06-28 19:10] melker commented on #215
https://plus.google.com/+ErikMelkersson/posts/ZAVyxcZEB1z
I have set a week.

[2015-06-28 19:10] #215 closed, assigned to nobody

[2015-06-29 21:03] melker opened #218 "Test how it behaves if I start the app without gps enabled as a new player"
Make it easy to enable. Intent to enable it?

[2015-06-30 03:28] #217 closed, assigned to nobody

[2015-06-30 11:21] melker opened #219 "Show score sum of transmitters next to the count"

[2015-07-01 10:10] melker commented on #213
Free text field.

[2015-07-02 06:57] melker opened #220 "The mission same fountain 300 not applied on Magnus."

[2015-07-21 19:52] melker opened #221 "Show time left to reload on treasure hunt/probe launcher instead of hiding them"
See:
https://plus.google.com/+BastianTaubald/posts/3fyMZQDUm1W

[2015-07-24 20:05] #220 closed, assigned to nobody

[2015-07-24 20:05] #219 closed, assigned to nobody

[2015-07-24 20:08] melker commented on #186
Also:
- Number of treasures gathered, (1,3,10,30... or  1,2,5,10,20,50...)

[2015-07-24 20:33] melker opened #222 "move portal"
https://plus.google.com/+BastianTaubald/posts/9dpUDiiZKdR

[2015-07-26 21:40] melker opened #223 "remember settings in chat dialog, after closing and opening the window again"
I.e. just use a setting on the device (no server involved).

[2015-07-27 05:15] melker commented on #186
Preparations for max transmitter level and gathered treasures is in the beta-version of the app.

[2015-07-28 05:06] melker opened #224 "Check l6mission on fac on walterblue"

[2015-07-29 04:46] melker commented on #224
kollar bara level på vanliga fac nu

[2015-07-29 04:46] #224 closed, assigned to nobody

[2015-07-30 05:38] melker commented on #186
Max transmitter level released

[2015-07-30 05:46] #223 closed, assigned to nobody

[2015-07-30 17:28] melker commented on #222
Fixed in 0.5.9

[2015-07-30 17:28] #222 closed, assigned to nobody

[2015-07-31 08:00] melker opened #225 "Modify features, trade... levels."
Jag funderade på en justering av trade för två orsaker:
- Man ska inte lägga in en massa orealistiska trades och hoppas att någon av misstag accepterar dem
- Man ska motiveras att fortsätta uppgradera byggnaden

Tanke:
Nivå 1 - Man kan acceptera byten
Nivå 2 - Man kan lägga in 1 eget byte
Nivå 3 - Man kan lägga in 2 egna byten
etc

Vad säger ni?﻿

[2015-07-31 21:16] #221 closed, assigned to nobody

[2015-08-01 19:43] melker commented on #225
0.5.15

[2015-08-01 19:43] #225 closed, assigned to nobody

[2015-08-05 04:18] melker opened #226 "Uncolored images to start with, outline"
Se noone sees the wrong color on startup.

[2015-08-05 04:19] melker opened #227 "Fountain size.."
People think they differ in size. Doc or change.

[2015-08-06 18:28] melker opened #228 "Downgrade spawer - warning that workers will be downgraded and confirmation"
Warning and confirm if workers of that levels. Nn workers will be downgraded from n to n-1

Compensate Alex

[2015-08-06 18:39] melker commented on #228
25-30 on alex...

[2015-08-07 10:03] melker opened #229 "Auto rotate option"

[2015-08-08 20:36] melker commented on #229
https://plus.google.com/112119623427648797581/posts/3enNvx2JbcU

[2015-08-08 20:48] melker opened #230 "Make other peoples chat messages copyable"
Maybe an option when pressing: Put "..." in clipboard. Or recognize urls in the messages and add option to make an open-url-intent on those.

(example, link to g+-community)

[2015-08-09 07:12] melker commented on #228
Confirmation dialog added.
Alex not compensated yet.

[2015-08-09 07:12] #228 closed, assigned to nobody

[2015-08-09 07:16] melker commented on #228
somewhat compensated.

[2015-08-09 20:59] melker commented on #229
Fixed.

[2015-08-09 20:59] #229 closed, assigned to nobody

[2015-08-09 21:00] melker opened #231 "Multiple merge (workers and parts)"
https://plus.google.com/102544416087793224632/posts/aro1hv7NDQa

[2015-08-10 20:12] melker commented on #226
Removed the portal images in the layout.

[2015-08-10 20:12] #226 closed, assigned to nobody

[2015-08-10 20:46] melker opened #232 "Bring back all workers of a specific color"
https://plus.google.com/+ChristianHetz/posts/CuHqVzKLtEH

[2015-08-12 20:31] melker commented on #231
Merge multiple workers is in testing.

[2015-08-16 20:47] melker commented on #230
Fixed in coming versions

[2015-08-16 20:47] #230 closed, assigned to nobody

[2015-08-17 06:01] melker opened #233 "Partially fulfull trades"
https://plus.google.com/+ErikMelkersson/posts/jV1VyokybCF

[2015-08-17 19:19] melker commented on #231
Merge parts too.

[2015-08-17 19:19] #231 closed, assigned to nobody

[2015-08-17 19:20] melker commented on #133
Nej. Stänger.

[2015-08-17 19:20] #133 closed, assigned to nobody

[2015-08-17 19:20] melker commented on #74
Nej, släpper detta.

[2015-08-17 19:20] #74 closed, assigned to melker

[2015-08-17 19:24] melker opened #234 "Update mission count when stat is loaded without the need to fold and expand it"

[2015-08-17 19:24] melker commented on #234
https://plus.google.com/112119623427648797581/posts/2jeUYjbWy9K

[2015-08-20 20:14] melker commented on #232
0.5.21

[2015-08-20 20:14] #232 closed, assigned to nobody

[2015-08-21 21:02] melker commented on #233
acceptTradeOffer method has been prepared and tested for partial trades.
Todo:
server: parameter and call to it, tradeAccept-file
client: select how much to fullfill. Calc gcd (costcount, sellcount) and use as divisor for the steps of the slider.

[2015-08-21 21:02] melker commented on #233
public int GCD(int a, int b) { return b==0 ? a : GCD(b, a%b); }

[2015-08-23 20:15] melker commented on #233
0.5.23

[2015-08-23 20:15] #233 closed, assigned to nobody

[2015-08-25 18:42] melker commented on #183
fixed

[2015-08-25 18:42] #183 closed, assigned to melker

[2015-08-25 19:11] melker commented on #234
Fixed in 0.5.25

[2015-08-25 19:11] #234 closed, assigned to nobody

[2015-08-25 19:36] melker commented on #206
Fixed in 0.5.25

[2015-08-25 19:36] #206 closed, assigned to nobody

[2015-08-25 19:44] melker commented on #148
Stryker denna. Inte realistiskt dessvärre.

[2015-08-25 19:44] #148 closed, assigned to melker

[2015-08-25 19:44] melker commented on #23
Släpper detta.

[2015-08-25 19:44] #23 closed, assigned to nobody

[2015-08-29 19:56] melker commented on #186
I think some between the "modulate first worker" to build "worker to transmitter parts" would be fine. When you expand to the third and forth color to.

Upgrade worker modulator?....

[2015-08-30 04:17] melker opened #235 "Sync worker prop when coming home."
To get correct prop after upgrade/reorder.

[2015-08-30 15:51] melker opened #236 "Hide fountains when removed portal"

[2015-09-01 19:14] melker opened #237 "List my trade offers along the other ones, just mark them"
To view them in the correct order.

Make the list expandable on the types as key. View the best order numbers in the expandable thing. Mark the ones where I have orders.

[2015-09-01 20:08] melker commented on #177
Make the map darker. Semitransparent black polygons covering the world.

mMap.addPolygon(new PolygonOptions().add(new LatLng(-89.999999, -179.999999), new LatLng(-89.999999, -60), new LatLng(89.999999, -60), new LatLng(89.999999, -179.999999)).fillColor(0x77000000).strokeColor(0));

mMap.addPolygon(new PolygonOptions().add(new LatLng(-89.999999, -60), new LatLng(-89.999999, 60), new LatLng(89.9999

[2015-09-02 19:26] #236 closed, assigned to nobody

[2015-09-02 19:26] melker commented on #236
Fixed.

[2015-09-02 19:27] melker commented on #235
https://plus.google.com/112119623427648797581/posts/CuXZnErQzo1

[2015-09-02 19:28] melker opened #238 "Make the mission view look better"
Merge missions of the same type etc.

[2015-09-16 20:31] #238 closed, assigned to nobody

[2015-09-17 20:58] melker opened #239 "unable to accept trade where i have to pay rack"
It says I have 0 such items

[2015-09-18 19:43] melker commented on #239
0.5.37
- Bug fix for trading with transmitter items without color, like rack.
- Reload trade data on opening the trade dialog again
- Ability to trade with 60% transmitter bonus

[2015-09-18 19:43] #239 closed, assigned to nobody

[2015-09-20 05:13] melker opened #240 "Set amount on transmit scorer part"

[2015-09-20 05:20] melker opened #241 "Last workrr not removed fron status when placed"

[2015-09-20 20:00] melker opened #242 "Select amount when transmitting items to other players"
On scorer parts too

[2015-09-20 20:06] melker commented on #242
duplicate #240

[2015-09-20 20:06] #242 closed, assigned to nobody

[2015-09-20 20:07] melker commented on #237
Expandable is step two. First the other things.

[2015-09-21 07:15] catellie commented on #241
This has been around for quite some time. My feeling is that is happens when you have too quick placement - perhaps placing the last one before the previous one has been confirmed from the server?

[2015-09-21 07:20] catellie opened #243 "Fountain fading fails randomly"
It seems that about half of the time, the fading of already used fountains is not shown.
This is probably an exaggeration, but it certainly happens frequently enough to make me doubt how useful it is at all.

[2015-09-22 20:03] melker commented on #237
Skipping expandable. Done the "merging".

[2015-09-22 20:03] #237 closed, assigned to nobody

[2015-09-23 13:12] melker opened #244 "Color on members in team"

[2015-09-24 19:04] melker opened #245 "Fix buggy fountain tracker"
Load loading as and redisplaying as it should.

[2015-09-24 19:06] melker commented on #235
Nah.... better do it on a user action, logging in or something...

[2015-09-24 21:58] draptik commented on #241
+1

[2015-09-28 03:25] melker opened #246 "Change cost of hq to the same of all colors"

[2015-09-28 03:25] melker commented on #246
Note: the upgrades

[2015-09-29 20:11] melker opened #247 "Copy message, wrong text"
https://plus.google.com/u/0/+MarioBehnke/posts/V79e3dEfjBe
It takes the help text, not the message text

[2015-09-30 13:38] melker commented on #247
fixed in 0.5.42

[2015-09-30 13:38] #247 closed, assigned to nobody

[2015-09-30 19:37] #245 closed, assigned to nobody

[2015-09-30 19:41] melker commented on #5
moved to bitbucket

[2015-09-30 19:41] #5 closed, assigned to nobody

[2015-09-30 19:46] melker commented on #9
Moved to bitbucket.

[2015-09-30 19:46] #9 closed, assigned to nobody

[2015-09-30 19:49] melker commented on #17
Moved to bitbucket.

[2015-09-30 19:49] #17 closed, assigned to melker

[2015-09-30 19:51] melker commented on #22
Moved to bitbucket

[2015-09-30 19:51] #22 closed, assigned to nobody

[2015-09-30 19:54] melker commented on #24
Moved to bitbucket.

[2015-09-30 19:54] #24 closed, assigned to nobody

[2015-09-30 19:56] melker commented on #26
Moved to bitbucket.

[2015-09-30 19:56] #26 closed, assigned to nobody

[2015-09-30 19:59] melker commented on #65
Moved to bitbucket.

[2015-09-30 19:59] #65 closed, assigned to melker

[2015-09-30 20:00] melker commented on #79
Moved to bitbucket.

[2015-09-30 20:00] #79 closed, assigned to nobody

[2015-09-30 20:02] melker commented on #112
Moved to bitbucket.

[2015-09-30 20:02] #112 closed, assigned to nobody

[2015-09-30 20:05] melker commented on #125
Moved to bitbucket.

[2015-09-30 20:05] #125 closed, assigned to melker

[2015-09-30 20:08] melker commented on #130
Moved to bitbucket.

[2015-09-30 20:08] #130 closed, assigned to melker

[2015-09-30 20:10] melker commented on #149
Det finns redan för världen. Stänger nu.

[2015-09-30 20:10] #149 closed, assigned to nobody

[2015-09-30 20:12] #177 closed, assigned to nobody

[2015-09-30 20:14] melker commented on #168
Moved to bitbucket

[2015-09-30 20:14] #168 closed, assigned to melker

[2015-09-30 20:16] melker commented on #211
Moved to bitbucket

[2015-09-30 20:16] #211 closed, assigned to nobody

[2015-09-30 20:37] melker commented on #186
Moved to bitbucket, and the rest I skipped.

[2015-09-30 20:37] #186 closed, assigned to melker

[2015-09-30 20:40] melker commented on #213
moved to bitbucket

[2015-09-30 20:40] #213 closed, assigned to nobody

[2015-09-30 20:44] melker commented on #216
moved to bitbucket.

[2015-09-30 20:44] #216 closed, assigned to nobody

[2015-09-30 20:46] melker commented on #227
moved to bitbucket

[2015-09-30 20:46] #227 closed, assigned to nobody

[2015-09-30 20:47] melker commented on #243
Should be fixed in last released version

[2015-09-30 20:47] #243 closed, assigned to nobody

[2015-09-30 20:48] melker commented on #241
moved to bitbucket.

[2015-09-30 20:48] #241 closed, assigned to nobody

[2015-09-30 20:49] melker commented on #240
moved to bitbucket

[2015-09-30 20:49] #240 closed, assigned to nobody

[2015-09-30 20:50] melker commented on #244
moved to bitbucket

[2015-09-30 20:50] #244 closed, assigned to nobody

[2015-09-30 20:52] melker commented on #246
moved to bitbucket

[2015-09-30 20:52] #246 closed, assigned to nobody

[2015-09-30 20:53] melker commented on #156
moved to bitbucket

[2015-09-30 20:53] #156 closed, assigned to melker

[2015-10-02 04:29] melker opened #248 "Länk till gplus från about"

[2015-10-02 04:30] melker opened #249 "Webbchar för system, lägg ut release info"

[2015-10-02 04:49] melker opened #250 "Reset ska rensa alla filer och Settings saker"

[2016-09-06 04:57] #250 closed, assigned to nobody

[2016-09-06 04:57] melker commented on #250
FIxat i 1.0

[2016-09-06 04:58] #249 closed, assigned to nobody

[2016-09-06 04:58] melker commented on #249
Lägger in i db

[2016-09-06 04:58] melker commented on #248
Löst i 1.0

[2016-09-06 04:58] #248 closed, assigned to nobody

[2016-09-06 04:58] melker commented on #235
Not needed1.0

[2016-09-06 04:58] #235 closed, assigned to nobody

[2016-09-06 04:59] melker commented on #218
Working 1.0

[2016-09-06 04:59] #218 closed, assigned to nobody

[2016-09-06 04:59] melker commented on #20
done, 1.0

[2016-09-06 04:59] #20 closed, assigned to melker

[2016-09-06 04:59] melker commented on #19
done, 1.0

[2016-09-06 04:59] #19 closed, assigned to melker

[2016-09-06 05:22] melker commented on #164
sköts automatiskt

[2016-09-06 05:22] #164 closed, assigned to melker